body{
background: white;
margin: 0;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:30px;
font-weight: 100;
}

#background{
background: #F4F4F4;
width: 100%;
min-width: 1000px;
position: absolute;
top: 0;
height: 100px;
z-index: -1;
}

#background1{
background: #F4F4F4;
width: 100%;
min-width: 1000px;
position: absolute;
height: 120px;
z-index: -1;
margin-top: -120px;
}

#container{
margin: auto;
width: 1000px;
}

#title{
color: #FF0000;
font-family: 'Titillium Web', sans-serif;
font-size: 40px;
font-weight: 600;
margin: auto;
width:1000px;
//background: red;
padding-top: 20px;
padding-bottom: 20px;
}

#title b{
color: #7A52CC;
}

#title img{
opacity: 0.6;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
	height: 50px; 
	border: none;
}

#title img:hover{
opacity: 1.0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
	height: 50px; 
	border: none;
}

#title div{
display: inline;
}

#nav{
width: 270px;
float: right;
margin-top: -6px;
}

#nav a{
text-decoration: none; 
font-size: 22px; 
color: #7A52CC;
font-weight: 300;
margin-right: 20px;
margin-left: 20px;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

#nav a:hover{
color: white;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.post{
width: 960px;
margin-left: 20px;
}

.post h1{
font-weight: 300;
font-size: 30px;
margin-bottom: 10px;
color: #7A52CC;
}

.post div{
text-align:center;
margin-top: 20px;
}

.post a{
text-decoration: none;
color: gray;
}

.post a:hover{
text-decoration: none;
color: blue;
}

.content{

}

#sites{

}

#sites a{
color: white;
background: blue;
margin-left: 10px;
margin-right: 10px;
padding: 10px;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    -ms-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

#sites a:hover{
color: black;
background: #EEEEEE;
margin-left: 10px;
margin-right: 10px;
padding: 10px;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    -ms-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

footer{
text-align: center;
margin-top: 60px;
padding-top:40px;
padding-bottom: 40px;
}