body{
	background: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

#navbackground{
	background: #F4F4F4;
	height: 100px;
	min-width: 1000px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

#message{
	background-color: blue;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
	min-width: 1000px;
	margin-top: 100px;
	text-align: center;
	width: 100%;
}

#container{
	width: 1000px;
	margin: auto;
	
}

#headersection{
	color: #FF0000;
	font-family: 'Titillium Web', sans-serif;
	font-size: 40px;
	font-weight: 600;
	padding-top: 25px;
	padding-bottom: 20px;
	width:1000px;
}

#nav img{
	vertical-align:middle ;
	border: none;
	height: 40px; 
	opacity: 1.0;
	opacity: 0.6;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#nav img:hover{
	border: none;
	height: 40px; 
	opacity: 1.0;
	
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#nav{
	margin-left: 650px;
	height: 80px;
	position: absolute;
	top: 16px;
	width: 350px;
}

#nav a{
	color: #7A52CC;
	font-size: 22px; 
	font-weight: 300;
	margin-right: 20px;
	margin-left: 20px;
	text-decoration: none; 

    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

#nav a:hover{
	color: white;

    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

#intropost{
	text-align:center;
	width: 1000px;
}

#intropost p{
	color: #7A52CC;
	border-bottom: dotted 1px gray;
	font-size: 40px;
	text-align: center;
	padding-bottom: 20px;
}

#intropost img{
	height: 500px;
}

#posts{
	width: 1000px;
}

.sectiontitle{
	color: #7A52CC;
	border-bottom: dotted 1px gray;
	font-size: 40px;
	text-align: center;
	padding-bottom: 20px;
	width: 1000px;
}

.post{
	font-family: 'Roboto', sans-serif;
	margin-top: 40px;
	width: 1000px;
}

header{
	color: #7A52CC;
	font-size: 28px;
}

.content{
	font-size: 24px;
	margin-top: 20px;
	width: 1000px;
}

.content a{
	color: gray;
	text-decoration: none;
}

.content a:hover{
	color: blue;
}

#links{
	margin-top: 40px;
	margin-bottom: 60px;
}

#sites{
	margin-top: 60px;
	text-align: center;
	width: 1000px;
}

#sites a{
	color: white;
	background: blue;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	text-decoration: none;
	
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    -ms-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

#sites a:hover{
	color: black;
	background: #EEEEEE;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    -ms-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

footer{
	font-size: 28px;
	height: 100px;
	text-align:center;
	/*width: 1000px;*/
    background: #F4F4F4;
}

footer p{
    padding-top:34px;
    
}

#footerbackground{
	background: #F4F4F4;
	/*height: 100px; TODO: Marked for deletion (the comment)*/
	margin-top: -100px;
	min-width: 1000px;
	position: absolute;
	width: 100%;
	z-index: -1;
}
