
#Hero{
	background-position:left center;
	background-image:url('/images/new/heroBG.JPG');
	color:white;
	animation-name: fadeInUp;
	animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
#Hero h1{
	font-size:1000%;
	margin:0;
}
#Hero h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	font-size:200%;
	margin:0;
}

#Hero div{
	top:45vh;
	position:relative;
	transform:translateY(-50%);
	transform-style:preserve-3d;
	margin-left:5vw;
	z-index:10;
}

#Hero::before{
	content:'';
	background:linear-gradient(to right, black, rgba(0,0,0,0));
	width:50%;
	height:90vh;
	position:absolute;
	left:0; top:0;
	z-index:0;
}




#HeroMotto{
	margin:0;
	padding:10vh;
	text-align:center;
	background:#2c3e50;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:150%;
	animation-name: fadeIn;
	animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
#HeroMotto h2{
	margin:0;
}





@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

}




p{
	animation-name: fadeIn;
	animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}
.is-exiting {
	animation-direction:alternate-reverse;
}