@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans|Audiowide);


body{
	margin:0;
	padding:0;
	width:100%;
	overflow-x:hidden;
	height:100vh;
	overflow-y:hidden;
}
#LargeWrap{
	height:100vh;
}

.Panel{
	display:inline-block;
	height:100vh;
	width:10vw;
	margin:0;
	padding:0;
	transition: transform 0.5s ease-in-out, opacity 0.25s ease, background 0.25s ease;
	transform:scaleX(1);
	transform-origin: left top;
	transform-style:preserve-3d;
	position:relative;z-index:5;
}

.Panel:nth-child(1), .Panel:nth-child(1)::before{
	background:rgba(192, 57, 43, 1);
}
.Panel:nth-child(2), .Panel:nth-child(2)::before{
	background:rgba(31, 58, 147, 1);
}
.Panel:nth-child(3), .Panel:nth-child(3)::before{
	background:rgba(44, 62, 80, 1);
	z-index:1;
}
.Panel:nth-child(4), .Panel:nth-child(4)::before{
	background:rgba(142, 68, 173, 1);
}
.Panel:nth-child(5), .Panel:nth-child(5)::before{
	background:rgba(30, 130, 76, 1);
}


.NoBefore:before{
	opacity:0 !important;
}

.Panel:hover{
	transition: transform 0.5s ease-in-out, opacity 0.25s ease 0.25s;
}

.Panel::before{
	opacity:1;
	pointer-events:none;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    transform:skew(-3deg);
    background-size:cover;
	background-attachment:fixed;
    background-position:50% 50%;
	background-color:black;
	
	transform-origin: left top;
	transition: opacity 0.5s ease;
	z-index:5;

}

.PanelBG{
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
	display:block;
	position:absolute;
	z-index:-5;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	opacity:0;
	transition: opacity 0.5s ease;
}



.MoveTitle{
	position:absolute;
	
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
	font-size:200%;
	margin:0;
	text-align:center;
	color:white;
	pointer-events:none;
	
	z-index:5;
	top:0; left:6vw;
	width:100vh;
	
	transform:rotate(90deg);
	transform-origin:left top;
	
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, width 0.5s ease-in-out;
}



.MainTitle{
	font-family:"Audiowide", sans-serif;
	font-size:500%;
	color:#7A52CC;
	font-weight:bold;
	position:relative;
	z-index:-1;
}
.MainTitle{
	margin:0;
}
#Head3Sub{
    font-family: 'Raleway', sans-serif;
	margin:0;
	font-weight:lighter;
}
.MainTitle span{
	color:red;
}



#Head2{
	transform:translateX(9vw)rotate(90deg);
}
#Head3{
	width:60vw;
	position:absolute;
	z-index:1;
}
#Head4{
	transform:translateX(79vw)rotate(90deg);
}
#Head5{
	transform:translateX(90vw)rotate(90deg);
}

#SplashBG{
	position:absolute;
	width:60%;
	height:100vh;
	left:20vw;
	background:radial-gradient(black, rgba(0,0,0,0), rgba(0,0,0,0));
	pointer-events:none;
	z-index:1;
	transition: opacity 0.5s ease;
	opacity:1;
	top:0;
}