@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
    color:white;
    background:#354b60;
    text-align:center;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
}
header h1{
	font-family:"Audiowide", sans-serif;
	font-size:1000%;
	margin:0;
}
header h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	font-size:200%;
	margin:0;
}

.Panel{
	width:11%;
	transition:all 1s ease;
	height:100vh;
	display:inline-block;
	margin:0;
	border:0;
	position: relative;
    text-decoration:none;
    text-align:center;
    color:white;
}
.Panel:hover{
	width:60% !important;
}



/*
Colors and/or backgrounds
*/
.Panel .PanelBeforeChild:before{
	opacity:0;
    content:'';
    width:150%;
    height:100%;
    top:0;
    left:-25%;
    position:absolute;
    transform:skew(3deg);
    background-size:cover;
    background-position:50% 50%;
	transition: all 0.5s cubic-bezier(0.000, 1.040, 0.120, 1.005);
}
.Panel:hover .PanelBeforeChild:before{
	transition:all 0.3s ease-in;
	transition-delay:0.8s;
	opacity:1;
}

.Panel:nth-child(1) .PanelBeforeChild:before{
	background-image:url("/images/VEXbg.png");
}
.Panel:nth-child(1) .PanelBeforeChild{
	background:#c0392b;
}
.Panel:nth-child(2) .PanelBeforeChild{
	background:#1F3A93;
}
.Panel:nth-child(3) .PanelBeforeChild:before{
    content:'';
    width:120%;
    height:120%;
    top:-10%;
    left:-10%;
    position:absolute;
    transform:skew(3deg);
	background-image:url("/images/nats.jpg");
    background-size:cover;
    background-position:50% 50%;
    background-attachment:fixed;
    opacity:1;
}
.Panel:nth-child(4) .PanelBeforeChild{
	background:#8e44ad;
}
.Panel:nth-child(5) .PanelBeforeChild{
	background:#1E824C;
}




.Panel:nth-child(1){
    z-index:0;
}
.Panel:nth-child(2){
    z-index:1;
}
.Panel:nth-child(3){
    z-index:2;
    width:56%;
}
.Panel:nth-child(4){
    z-index:3;
}
.Panel:nth-child(5){
    z-index:4;
}

#BigPanelWrapper:hover .Panel{
    width:10%;
}




.TitleBG{
    position:absolute;
    z-index:0;
    width:100%;
    height:100%;
    background:radial-gradient(black, rgba(0,0,0,0));
    left:0;
    top:0;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    transform: skew(-3deg);
    opacity:1;
    transition: all 0.5s ease;
}
#BigPanelWrapper:hover .TitleBG{
    opacity:0;
}
.Panel:hover .TitleBG{
    opacity:1 !important;
}
header{
	position:relative;
	z-index:1;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	color:white;
	text-align:center;
}




#BigPanelWrapper {
    width:100%;
    height:100vh;
    margin:0;
    border:0;
    padding:0;
    background:#1E824C;
    text-align: left;
}

.Panel:nth-child(3) .NonDisp{
    transform:rotate(0deg);
	left:0;
}
#BigPanelWrapper:hover .Panel:nth-child(3) .NonDisp{
    transform: rotate(90deg);
    left:50%;
}

.Panel .NonDisp{
	transform: rotate(90deg);
	transform-origin: left top 0;
	transition: all 0.5s ease;
	position:relative;
	left:50%;
	top:0;
}
.Panel h2.NonDisp{
	width:100vh;
}
.Panel:hover .NonDisp{
	transform:rotate(0deg) !important;
	left:0 !important;
}
.Panel:hover h2.NonDisp{
	left:0 !important;
	top:50%;
	transform:translateY(-50%) !important;
	width:inherit;
}

.Panel .SecDisp{
	opacity:1;
	transition: all 0.5s ease;
}
#BigPanelWrapper:hover .Panel .SecDisp{
    opacity:0 !important;
}
#BigPanelWrapper:hover .Panel:hover .SecDisp{
	opacity:1 !important;
}


.PanelBeforeParent{
    overflow:hidden;
    width:100%;
    height:100%;
}
.PanelBeforeChild{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  transform: skew(-3deg);
    overflow:hidden;
}


nav{
    background:black;
    width:100%;
    position:fixed;
    height:100px;
    top:0;
    opacity:0;
    left:0;
    z-index:100;
    transform-style: preserve-3d;
    transition: all 0.15s linear;
}
nav ul{
    list-style:none;
    margin:0;
    padding:0;
    top:50%;
    transform:translateY(-50%);
    position:relative;
    height:100%;
}
nav li{
    display:inline-block;
    width:20%;
    font-size:20px;
    line-height:100px;
    height:100%;
    transition: all 0.5s ease;
}
nav li:hover{
    background:#ecf0f1 !important;
    color:black;
}

nav li:nth-child(1){
    background:#c0392b;
}
nav li:nth-child(2){
    background:#1F3A93;
}
nav li:nth-child(3){
    color:#FF0000;
	font-family:"Audiowide", sans-serif;
    background:#22313F;
}
nav li:nth-child(4){
    background:#8e44ad;
}
nav li:nth-child(5){
    background:#1E824C;
}

/*
    Main Divs
*/
#HeroFrame{
    padding:10vh;
}
#AboutFrame{
    padding:20vh;
    background-image:url(/images/fdesign1.jpg);
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
#ProjectsFrame{
    background:#8e44ad;
    padding:10vh;
}
#ProjectsFrame h1{
    margin:0;
}



.TSA{
    color:#c0392b;
}