@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

html, body{
    max-width:100%;
    overflow-x:hidden;
}

body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
    color:white;
    background:#2c3e50;
    text-align:center;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
}
header h1{
	font-family:"Audiowide", sans-serif;
	font-size:1000%;
	margin:0;
}
header h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	font-size:200%;
	margin:0;
}

.Panel{
	width:11%;
	transition:all 1s ease;
	height:100vh;
	display:inline-block;
	margin:0;
	border:0;
	position: relative;
    text-decoration:none;
    text-align:center;
    color:white;
    font-size:initial;
}
.Panel:hover{
	width:60% !important;
}



/*
Colors and/or backgrounds
*/
.Panel .PanelBeforeChild:before{
	opacity:0;
    content:'';
    width:150%;
    height:100%;
    top:0;
    left:-25%;
    position:absolute;
    transform:skew(3deg);
    background-size:cover;
    background-position:50% 50%;
	transition: all 0.5s cubic-bezier(0.000, 1.040, 0.120, 1.005);
}
.Panel:hover .PanelBeforeChild:before{
	transition:all 0.3s ease-in;
	transition-delay:0.8s;
	opacity:1;
}

.Panel:nth-child(1) .PanelBeforeChild:before{
	background-image:url("/images/VEXbg.png");
}
.Panel:nth-child(2) .PanelBeforeChild:before{
    background-image:url("/images/IMG_0437.JPG");
}

.Panel:nth-child(1) .PanelBeforeChild{
	background:#c0392b;
}
.Panel:nth-child(2) .PanelBeforeChild{
	background:#1F3A93;
}
.Panel:nth-child(3) .PanelBeforeChild:before{
    content:'';
    width:200%;
    height:100%;
    top:0;
    left:-50%;
    position:absolute;
    transform:skew(3deg);
	background-image:url("/images/nats.jpg");
    background-size:cover;
    background-position:50% 50%;
    background-attachment:fixed;
    opacity:1;
}
.Panel:nth-child(4) .PanelBeforeChild{
	background:#8e44ad;
}
.Panel:nth-child(5) .PanelBeforeChild{
	background:#1E824C;
}




.Panel:nth-child(1){
    z-index:0;
}
.Panel:nth-child(2){
    z-index:1;
}
.Panel:nth-child(3){
    z-index:2;
    width:56%;
}
.Panel:nth-child(4){
    z-index:3;
}
.Panel:nth-child(5){
    z-index:4;
}

#BigPanelWrapper:hover .Panel{
    width:10%;
}




.TitleBG{
    position:absolute;
    z-index:0;
    width:100%;
    height:100%;
    background:radial-gradient(black, rgba(0,0,0,0));
    left:0;
    top:0;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    transform: skew(-3deg);
    opacity:1;
    transition: all 0.5s ease;
}
#BigPanelWrapper:hover .TitleBG{
    opacity:0;
}
.Panel:hover .TitleBG{
    opacity:1 !important;
}
header{
	position:relative;
	z-index:1;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	color:white;
	text-align:center;
}




#BigPanelWrapper {
    display:inline;
}
#BigPanelWrapperParent{
    width:100%;
    height:100vh;
    margin:0;
    border:0;
    padding:0;
    background:#1E824C;
    text-align: left;
    overflow:hidden;
    transition: all 0.5s ease;
}

.Panel:nth-child(3) .NonDisp{
    transform:rotate(0deg);
	left:0;
}
#BigPanelWrapper:hover .Panel:nth-child(3) .NonDisp{
    transform: rotate(90deg);
    left:50%;
}

.Panel .NonDisp{
	transform: rotate(90deg);
	transform-origin: left top 0;
	transition: all 0.5s ease;
	position:relative;
	left:50%;
	top:0;
}
#BigPanelWrapper:hover .Panel h1.NonDisp{
    opacity:0;
}
.Panel h2.NonDisp{
	width:100vh;
}
.Panel:hover .NonDisp{
	transform:rotate(0deg) !important;
	left:0 !important;
    opacity:1 !important;
}
.Panel:hover h2.NonDisp{
	left:0 !important;
	top:50%;
	transform:translateY(-50%) !important;
	width:inherit;
    transition: all 0.5s ease-in-out;
}

.Panel .SecDisp{
	opacity:1;
	transition: all 0.5s ease;
}
#BigPanelWrapper:hover .Panel .SecDisp{
    opacity:0 !important;
}
#BigPanelWrapper:hover .Panel:hover .SecDisp{
	opacity:1 !important;
}


.PanelBeforeParent{
    overflow:hidden;
    width:100%;
    height:100%;
}
.PanelBeforeChild{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  transform: skew(-3deg);
    overflow:hidden;
}


#GlobalNav{
    background:#1E824C;
    width:100%;
    position:fixed;
    height:100px;
    top:0;
    opacity:0;
    left:0;
    z-index:100;
    transform-style: preserve-3d;
    transition: all 0.15s linear;
}
#GlobalNav ul{
    list-style:none;
    margin:0;
    padding:0;
    top:50%;
    transform:translateY(-50%);
    position:relative;
    height:100%;
}
#GlobalNav li{
    display:inline-block;
    width:20%;
    font-size:20px;
    line-height:100px;
    height:100%;
    transition: all 0.5s ease;
    overflow:hidden;
}
#GlobalNav li:hover a{
    color:black;
}
#GlobalNav li::before{
    transform:skewX(-3deg);
    content:"";
    position:absolute;
    top:0;
    width:20%;
    height:100%;
    z-index:0;
    transition: all 0.5s ease;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
#GlobalNav li:hover::before{   
    background:#ecf0f1 !important;
}
#GlobalNav li a{
    position:relative;
    z-index:10;
    width:100%;
    height:100%;
    text-decoration:none;
    color:white;
    display:inline-block;
}

#GlobalNav li:nth-child(1)::before{
    left:0;
    background:#c0392b;
}
#GlobalNav li:nth-child(2)::before{
    left:20%;
    background:#1F3A93;
}
#GlobalNav li:nth-child(3)::before{
    left:40%;
    background:#22313F;
}
#GlobalNav li:nth-child(4)::before{
    left:60%;
    background:#8e44ad;
}
#GlobalNav li:nth-child(5)::before{
    background:#1E824C;
    left:80%;
}
#GlobalNav li:nth-child(5):hover{
    background:#ecf0f1;
}

#GlobalNav li:nth-child(3) a{  
	font-family:"Audiowide", sans-serif; 
    color:#FF0000;
}




#LocalNav{
    width:30px;
    height:150px;
    position:fixed;
    top:calc(50vh + 25px);
    right:-100%;
    z-index:100;
    transition: all 0.5s ease;
}
#LocalNav ul{
    margin:0;
    padding:0;
}
#LocalNav li{
    list-style:none;
    margin:0;
    padding:0;
    width:30px;
    height:30px;
}
#LocalNav input[type=radio]{
    display:none;
}
#LocalNav label{
    width:100%;
    height:100%;
    display:inline-block;
    cursor:pointer;
    opacity:0.75;
}
#LocalNav div{
    position:absolute;
    width:100px;
    right:-100px;
    height:30px;
    line-height:30px;
    display:inline-block;
    background:#34495e;
    opacity:0.75;
    transition: all 0.5s ease;
    pointer-events:none;
}
#LocalNav li:hover div{
    right:30px;
}

#LocalNav li:nth-child(1) label{
    background:#c0392b;
}
#LocalNav li:nth-child(2) label{
    background:#F9690E;
}
#LocalNav li:nth-child(3) label{
    background:#1E824C;
}
#LocalNav li:nth-child(4) label{
    background:#1F3A93;
}
#LocalNav li:nth-child(5) label{
    background:#8e44ad;
}
#LocalNav li:hover label{
    background:white;
}
#LocalNav li input[type=radio]:checked+label{
    background:black;
}



/*
    Main Divs
*/
#AboutHeroFrame{
    padding:10vh;
}

#AboutFrame{
    padding:25vh 10vh;
    background-image:url('http://aktsa.org/img/fdesign2.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
#AboutFrame div{
    font-size: 22px;
    max-width:800px;
    position:relative;   
    left:-100vw;
    transition: all 0.5s cubic-bezier(0.000, 0.645, 0.525, 1.075); /* custom */
    text-align:left;
}
#AboutFrame div p{
    position:relative;
    z-index:5;
}
#AboutFrame div::before{
    background:#34495e;
    z-index:0;
    transform:skewX(-10deg);
    content:"";
    position:absolute;
    width:120%;
    height:200%;
    left:-10%;
    top:-50%;
    z-index:0;
    display:block;
}
#AboutFrame div::after{
    background:#34495e;
    z-index:0;
    transform:skewX(-3deg);
    content:"";
    position:absolute;
    width:100vw;
    height:200%;
    left:-100vw;
    top:-50%;
    z-index:0;
    display:block;
}

#ProjectsHeroFrame{
    background:#9b59b6;
    padding:10vh;
    margin:0;
}
#ProjectsHeroFrame h1{
    margin:0;
}

#ProjectsFrame{
    text-align:right;
    margin:0;
}
#ProjectsFrame h2{
    margin:0;
}

.Projecta{
    position:relative;
    height:40vh;
    top:20vh;
    width:40vw;
    transform-style:preserve-3d;
    transition: all 0.5s ease;
    margin-bottom:40vh;
}
.Projecta div{
    position:relative;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
}
.Projecta::before{
    background:#d35400;
    z-index:0;
    transform:skewX(-10deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    z-index:0;
    display:block;
    left:-10%;
}
.Projecta::after{
    background:#d35400;
    z-index:0;
    transform:skewX(-3deg);
    content:"";
    position:absolute;
    width:100vw;
    height:100%;
    top:0;
    z-index:0;
    display:block;
}
.ProjR{
    left:-100vw;
}
.ProjL{
    left:130vw;
    text-align:left;
}
.ProjR::after{
    left:-90vw;
}
.ProjL::after{
    right:-90vw;
}
.ProjLimg{
    left:0;
}
.ProjRimg{
    right:0;
}
.Projectb{
    position:absolute;
    height:80vh;
}
/*.Projectba{
    position:absolute;
    height:80vh;
    top:calc(inherit - 80vh);
    z-index:100;
    transition: all 0.5s ease;
}

.HoverOp{
    opacity:0;
    transition: all 1s ease;
}
.HoverOpA{
    transition: all 1s ease;
    width:80%;
    height:80%;
    position:fixed;
    top:10%;
    left:10%;
}
*/


#CommHeroFrame{
    background:#27ae60;
    padding:10vh;
    margin:0;
    margin:0;
}
#CommHeroFrame h1{
    margin:0;
}

#CommFrame{
	height:100vh;
    text-align:right;
    margin:0;
}


#OffHeroFrame{
    background:#2980b9;
    padding:10vh;
    margin:0;
    margin:0;
}
#OffHeroFrame h1{
    margin:0;
}

#OffFrame{
	height:100vh;
    text-align:right;
    margin:0;
}

#EndFrame{
    background:#bdc3c7;
    color:black;
    padding:2vw;
}
#EndFrame p{
    margin:0;
}
#EndFrame a{
    text-decoration:underline;
    color:black !important;
}
#EndFrame a:hover{
    text-decoration:none;
}