@import url(http://fonts.googleapis.com/css?family=Audiowide|Ubuntu|Nunito:700|Open+Sans|Raleway:300|Handlee);

html, body{
    max-width:100%;
    overflow-x:hidden;
}

body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
    color:white;
    background:#674172;
    text-align:center;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}
h1{
	font-size:200%;
}



/*
    Global Navigation
*/
#GlobalNav{
    background:#1E824C;
    width:100%;
    position:fixed;
    height:100px;
    top:0;
    left:0;
    z-index:100;
    transform-style: preserve-3d;
    transition: all 0.15s linear;
}
#GlobalNav ul{
    list-style:none;
    margin:0;
    padding:0;
    top:50%;
    transform:translateY(-50%);
    position:relative;
    height:100%;
}
#GlobalNav li{
    display:inline-block;
    width:20%;
    font-size:20px;
    line-height:100px;
    height:100%;
    transition: all 0.5s ease;
    overflow:hidden;
}
#GlobalNav li:hover a{
    color:black;
}
#GlobalNav li::before{
    transform:skewX(-20deg);
	transform-origin: center right !important;
    content:"";
    position:absolute;
    top:0;
    width:20%;
    height:100%;
    z-index:0;
    transition: all 0.5s ease;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
#GlobalNav li:nth-child(1)::before{
	transform:skewX(-20deg)scaleX(2);
}
#GlobalNav li:hover::before{   
    background:#ecf0f1 !important;
}
#GlobalNav li a{
    position:relative;
    z-index:10;
    width:100%;
    height:100%;
    text-decoration:none;
    color:white;
    display:inline-block;
}

#GlobalNav li:nth-child(1)::before{
    left:0;
    background:#c0392b;
}
#GlobalNav li:nth-child(2)::before{
    left:20%;
    background:#1F3A93;
}
#GlobalNav li:nth-child(3)::before{
    left:40%;
    background:#22313F;
}
#GlobalNav li:nth-child(4)::before{
    left:60%;
    background:#8e44ad;
}
#GlobalNav li:nth-child(5)::before{
    background:#1E824C;
    left:80%;
}
#GlobalNav li:nth-child(5):hover{
    background:#ecf0f1;
}

#GlobalNav li:nth-child(3) a{  
	font-family:"Audiowide", sans-serif; 
    color:#FF0000;
}



#LocalNav{
    width:30px;
    height:150px;
    position:fixed;
    top:calc(50vh + 25px);
    z-index:100;
    transition: all 0.5s ease;
    right:0;
}
#LocalNav ul{
    margin:0;
    padding:0;
}
#LocalNav li{
    list-style:none;
    margin:0;
    padding:0;
    width:30px;
    height:30px;
	position:relative;
}
#LocalNav input[type=radio]{
    display:none;
}
#LocalNav label{
    width:100%;
    height:100%;
    display:inline-block;
    cursor:pointer;
    opacity:0.75;
}
#LocalNav div{
    position:absolute;
    width:100px;
    right:-100px;
    height:30px;
    line-height:30px;
    display:inline-block;
    background:#34495e;
    opacity:0.75;
    transition: all 0.5s ease;
    pointer-events:none;
	top:0;
}
#LocalNav li:hover div{
    right:30px;
}

#LocalNav li:nth-child(1) label{
    background:#c0392b;
}
#LocalNav li:nth-child(2) label{
    background:#F9690E;
}
#LocalNav li:nth-child(3) label{
    background:#1E824C;
}
#LocalNav li:nth-child(4) label{
    background:#1F3A93;
}
#LocalNav li:nth-child(5) label{
    background:#8e44ad;
}
#LocalNav li:hover label{
    background:black;
}
#LocalNav li input[type=radio]:checked+label{
    background:white;
}



/*
    Frames
*/
#HeroFrame{
	height:calc(100vh - 100px);
	margin-top:100px;
	background-image:url('/images/CTEProj3.jpg');
	background-size:cover;
	background-position: center center;
	background-attachment:fixed;
}

#MotFrame{
	width:100%;
}
#AKFrame{
	width:100%;
	background-image:url('/images/CTEProj4.jpg');
	background-size:cover;
	background-position: 50% 0;
	background-attachment:fixed;
	padding: 15vh 0;
}

#ClassFrame{
	position:relative;
	min-height:50vh;
	padding: 5vh 0;
}

#ProjFrame{
	background-image:url('/images/VRobots4.jpg');
	background-size:cover;
	background-position: 50% 50%;
	background-attachment:fixed;
	text-align:right;
	transition: background-image 0.5s ease;
	position:relative;
}

#TeachFrame{
	padding: 0 0 10vh 0;
	background-image:url('https://upload.wikimedia.org/wikipedia/commons/8/83/Japanese_High_school_Language_Lab1.JPG');
	background-size:cover;
	background-position: 50% 50%;
	background-attachment:fixed;
}

#LinkFrame{
	padding: 3vh 0 0 0;
}














/*
=========================
	FRAME SPECIFIC
=========================
*/

/*
Hero Frame
*/
#HeroFrame h1{
	font-size:500%;
	position:relative;
	top:50%;
	transform:translateY(-50%);
	margin:0;
	z-index:1;
}
#HeroFrame img{
	vertical-align:middle;
	height:50%;
}
#HeroFrame h1 div{
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:50px;
	text-align:left;
}
#HeroFrame h1 span{
	font-size:20%;
	position:relative;
	top:-80px;
}
.TitleBG{
    position:absolute;
    z-index:0;
    width:100%;
    height:100%;
    background:radial-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0));
    left:0;
    top:0;
}

/*
	About Frame
*/
#MotFrame p{
	display:block;
	width:70vw;
	text-align:center;
    transition: all 0.5s ease-out;
	margin: 7vh auto;
	font-style:italic;
	font-family: 'Handlee', cursive;
	font-size:125%;
}

#AKFrame div{
	margin: 0 0;
	display:block;
	width:60vw;
	text-align:right;
	position:relative;
	padding: 5vh 0 5vh 5vw;
    transition: all 0.5s ease-out;
	
	left:-100vw;
}
#AKFrame p{
	position:relative;
	z-index:1;
	padding-left:5vw;
}

/*
	Classes Frame
*/
#ClassFrame .Grid9{
	border-spacing:10px;
	margin-top:5vh;
}
#ClassFrame .Grid9 div div{
	height:15vh;
	border-style:solid;
	border-color:black;
	border-width:5px;
	transition: all 0.5s ease;
	
	position:relative;
	top:30px;
	opacity:0;
}
#ClassFrame .Grid9 div div:nth-child(2){
	transition: background 0.5s ease 0s, opacity 0.5s ease 0.1s, top 0.5s ease 0.1s;
}
#ClassFrame .Grid9 div div:nth-child(3){
	transition: background 0.5s ease 0s, opacity 0.5s ease 0.2s, top 0.5s ease 0.1s;
}
#ClassFrame .Grid9 div div:hover{
	background:black;
	cursor:pointer;
}

#ClassFrame .PopBox{
	position:fixed;	
	width:70vw;
	height:auto;
	transform:translateY(-50%)scale(0);
	left:10vw;
	top:50%;
	opacity:0;
	pointer-events:none;
	background:black;
	z-index:100;
	transition: all 0.25s ease-in;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 5vw;
}
#ClassFrame .PopBoxA{
	cursor:pointer;
	left:10vw;
	top:50%;
	transform:translateY(-50%)scale(1);
	opacity:1;
	pointer-events:all;
	transition: all 0.5s ease-out;
}

/*
	Projects Frame
*/
#ProjFrame div:nth-child(1){
	width:40vw;
	top:10vh;
	left:-100vw;
	transition: left 0.5s ease;
}

#ProjSelect{
	display:inline-block;
	margin-top:20vh;
	right:-100vw;
	position:relative;
	transition: right 0.5s ease 0.2s;
}
#ProjSelect input{
	display:none;
}

#ProjSelect label{
	cursor:pointer;
	position:relative;
	padding:3vh 10vw;
	display:block;
	text-align:left;
	transition: all 0.5s ease;
	left:0;
}
#ProjSelect label:nth-of-type(odd){
    color:black;
}
#ProjSelect label:nth-of-type(even){
    color:white;
}
#ProjSelect label span{
    position:relative;
    z-index:1;
}
#ProjSelect label:nth-of-type(odd)::before{
    background:#bdc3c7;
    z-index:0;
    transform:skewX(-30deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    z-index:0;
    display:block;
    left:0;
}
#ProjSelect label:nth-of-type(odd)::after{
    background:#bdc3c7;
    z-index:0;
    transform:skewX(-30deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    z-index:0;
    display:block;
    left:90%;
}
#ProjSelect label:nth-of-type(even)::before{
    background:#2c3e50;
    z-index:0;
    transform:skewX(30deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    z-index:0;
    display:block;
    left:0;
}
#ProjSelect label:nth-of-type(even)::after{
    background:#2c3e50;
    z-index:0;
    transform:skewX(30deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    z-index:0;
    display:block;
    left:90%;
}

#ProjSelect input:checked + label{
	left:-10%;
	font-weight:bold;
}
#ProjSelect label:hover{
	left:5%;
}

#ProjInfo{
	position:absolute;
	left:5vw;
	bottom: 5vh;
	text-align:left;
	background:rgba(44, 62, 80,0.7);
	padding:1vw 2vw;
	max-width:50vw;
	
	transition: opacity 0.5s ease 0.6s;
	opacity:0;
}
#ProjInfo p{
	display:none;
}



/*
	Teachers Frame
*/

#TeachTitleBanner{
	padding-top:10vh;
	padding-bottom:10vh;
	background:#674172;
}

.Grid6{
	width:90vw;
	height:80vh;
	margin-top:2vh;
	margin-left:auto;
	margin-right:auto;
	
	position:relative;
	left:-10vw;
	opacity:0;
	transition: opacity 0.5s ease, left 0.5s ease;
}
.Grid6 td{
	overflow:hidden;
	border-style:solid;
	border-color:black;
	background:white;
	padding:0;
	position:relative;
}
.Grid6 td div{
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	transform:none;
	position:absolute;
	overflow:hidden;
	top:0;
	margin:0 auto;
	width:100%;
	padding-bottom:50vh;
	cursor:pointer;
	color:black;
}
.Grid6 td div:hover{
	transform:translateY(-40vh);
	background:black;
	color:white;
}
.Grid6 h3{
	padding-top:19vh;
	padding-bottom:19vh;
	margin:0;
}

.Info{
	position:fixed;
	-webkit-transition:all 1s ease;
	        transition:all 1s ease;
	z-index:5;
	background:white;
	width:100vw;
	height:calc(100vh - 100px);
	background:#674172;
	color:white;
	top:100px;
}
.HiddenInfo{
	left:-100vw;
}
.ShowInfo{
	opacity:1;
	left:0;
}
.Info h1{
	font-size:500%;
	margin:5vh 0;
}
.Info button{
	font-size:125%;
	padding: 20px 50px;
	background:black;
	color:white;
	cursor:pointer;
	border-style:none;
	-webkit-transition:all 0.25s ease;
	        transition:all 0.25s ease;
	position:absolute;
	bottom:0;
	right:0;
}
.Info button:hover{
	background:white;
	color:black;
}
#TeachDiv{
	padding-left:20px;
	overflow-y:auto;
	max-height:55vh;
}
#TeachImg{
	margin-left:20px;
	width:20vw;
	float:right;
	margin-right:40px;
}

#TeachFrame small{
	background:rgba(0,0,0,0.6);
	padding:5px;
	position:absolute;
	right:0;
	margin-top:3vh;
}


/*
	Buttom Frame
*/
.BigButton{
	display:inline-block;
	color:white;
	padding:10px;
	transition:all 0.5s ease;
    margin-bottom:10px;
    text-decoration:none;
    position:relative;
    right:100vw;
}
.BigButton:hover{
	color:black;
	text-decoration:none !important;
    transition-delay:0s !important;
}
.BigButton::before{
    content:'';
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    top:0;
    left:0;
    transform:skewx(-10deg);
    transition: all 0.5s ease;
    
	background:#7A52CC;
}
.BigButton:hover::before{   
	background:#F4F4F4;
}
.BigButton:nth-child(4){
    transition-delay:0.15s;
}
.BigButton:nth-child(3){
    transition-delay:0.3s;
}
.BigButton:nth-child(2){
    transition-delay:0.45s;
}
.BigButton:nth-child(1){
    transition-delay:0.6s;
}









/*
========================
	REUSEABLE STUFF
========================
*/

.SlantL{
	position:relative;
	text-align:right;
	padding:5vh 0;
}
.SlantL::before{
    background:#674172;
    z-index:0;
    transform:skewX(-10deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    display:block;
    left:-10%;
}
.SlantL::after{
    background:#674172;
    z-index:0;
    transform:skewX(-10deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    display:block;
    left:-90%;
}
.SlantL *{
	position:relative;
	z-index:1;
}

.SlantR{
	position:relative;
}
.SlantR::before{
    background:#674172;
    z-index:0;
    transform:skewX(10deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    display:block;
    right:-10%;
}
.SlantR::after{
    background:#674172;
    z-index:0;
    transform:skewX(10deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    display:block;
    right:-90%;
}
.SlantR *{
	position:relative;
	z-index:1;
}




.Grid9{
	width:90vw;
	margin: 0 auto;
	display:table;
}
.Grid9 div{
	display:table-row;
}
.Grid9 div div{
	display:table-cell;
	width:33%;
	vertical-align:middle;
}

sup { vertical-align: top; font-size: 0.6em; }

.PopBox::after{
	content:'Click anywhere to close';
	position:fixed;
	bottom:0;
	right:0;
	font-size:90%;
	font-family:monospace;
}

.MobileOnly{
	display:none;
}


/*
 * Mobile Stuff! Woot! Finally!
 * ============================
 */
@media (max-width : 768px) {
    #LocalNav{
        display:none;
    }

	#HeroFrame img{
		vertical-align:middle;
		position:relative;
		top:2vh;
		width:30%;
		right:-20px;
	}
    
    #AKFrame div{
        display:block !important;
        width:80% !important;
        margin:0 auto !important;
		padding:4vw !important;
		text-align:center;
		background:rgba(103, 65, 114, 0.9);
		position:static;
    }
	#AKFrame div::before{
		display:none;
	}
	#AKFrame div::after{
		display:none;
	}
	#AKFrame p{
		margin:0;
		padding:0;
	}
	
	.PopBox{
		max-height:80vh;
		overflow-y:auto;
	}
	
	#ProjSelect{
		width:100%;
		left:0;
		top:-10vh;
	}
	#ProjFrame .SlantL{
		display:block !important;
		width:80% !important;
		margin:0 auto !important;
		padding:4vw !important;
		text-align:center;
		background:rgba(103, 65, 114, 0.9);
		position:relative;
		top:5vh;
	}
	#ProjFrame .SlantL::before{
		display:none;
	}
	#ProjFrame .SlantL::after{
		display:none;
	}
	#ProjFrame #ProjSelect label{
		width:60vw;
		left:10vw;
		text-align:center;
	}
	#ProjFrame label::before{
		display:none !important;
	}
	#ProjFrame label::after{
		display:none !important;
	}
	#ProjFrame label:nth-of-type(odd){
		background:#bdc3c7;
	}
	#ProjFrame label:nth-of-type(even){
		background:#2c3e50;
	}
	#ProjFrame #ProjSelect input:checked + label{
		left:5vw;
	}
	#ProjInfo{
		position:static;
		margin: 15vh auto 0 auto;
		opacity: 1;
		height:40vh;
		overflow-y:auto;
		width:75vw;
		max-width:80vw;
		padding: 0 5vw;
		text-align:center;
		
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	#LinkFrame a{
        display:block;
        left:0 !important;
    }
    #LinkFrame a::before{
        transform:inherit;
    }
	
	.Grid6{
		opacity:1 !important;
		left:0 !important;
	}
	.Grid9 div div{
		opacity:1 !important;
		top:0 !important;
	}
	
	#ProjFrame .SlantL{
		left:0 !important;
	}
	
	.MobileOnly{
		display:inline;
	}
}