@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

html, body{
    width:100%;
    overflow-x:hidden;
}

body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
    color:white;
    background:#2c3e50;
    text-align:center;
	
	
	animation-duration: 0.1s;
	animation-name: fontfix;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-delay: 0.1s;
}
/*
	Chrome Font Fix
*/
@keyframes fontfix {
  from { opacity: 0.9; }
  to { opacity: 1; }
}



h1, h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
}
h1{
	font-size:200%;
}
header h1{
	font-family:"Audiowide", sans-serif;
	font-size:1000%;
	margin:0;
}
header h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	font-size:200%;
	margin:0;
}

.Panel{
	width:11%;
	transition:all 1s ease;
	height:100vh;
	display:inline-block;
	margin:0;
	border:0;
	position: relative;
    text-decoration:none;
    text-align:center;
    color:white;
    font-size:initial;
}
.Panel:hover{
	width:60% !important;
}



/*
Colors and/or backgrounds
*/
.Panel .PanelBeforeChild:before{
	opacity:0;
    content:'';
    width:150%;
    height:100%;
    top:0;
    left:-25%;
    position:absolute;
    transform:skew(3deg);
    background-size:cover;
	background-attachment:fixed;
    background-position:50% 50%;
	transition: all 1s ease-in;
}
.Panel:hover .PanelBeforeChild:before{
	opacity:0.8;
}

.Panel:nth-child(1) .PanelBeforeChild:before{
	background-image:url("/images/VEXbg.png");
}
.Panel:nth-child(2) .PanelBeforeChild:before{
    background-image:url("/images/IMG_0437.JPG");
}
.Panel:nth-child(3) .PanelBeforeChild::before{
    opacity:1;
	background-image:url("/images/new/heroBG.JPG");
}
.Panel:nth-child(4) .PanelBeforeChild::before{
	background-image:url('/images/CTEProj3.jpg');
}

.Panel:nth-child(1) .PanelBeforeChild{
	background:#c0392b;
}
.Panel:nth-child(2) .PanelBeforeChild{
	background:#1F3A93;
}
.Panel:nth-child(4) .PanelBeforeChild{
	background:#8e44ad;
}
.Panel:nth-child(5) .PanelBeforeChild{
	background:#1E824C;
}




.Panel:nth-child(1){
    z-index:0;
}
.Panel:nth-child(2){
    z-index:1;
}
.Panel:nth-child(3){
    z-index:2;
    width:56%;
}
.Panel:nth-child(4){
    z-index:3;
}
.Panel:nth-child(5){
    z-index:4;
}

#BigPanelWrapper:hover .Panel{
    width:10%;
}




.TitleBG{
    position:absolute;
    z-index:0;
    width:100%;
    height:100%;
    background:radial-gradient(black, rgba(0,0,0,0));
    left:0;
    top:0;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    transform: skew(-3deg);
    opacity:1;
    transition: all 0.5s ease;
}
#BigPanelWrapper:hover .TitleBG{
    opacity:0;
}
.Panel:hover .TitleBG{
    opacity:1 !important;
}
header{
	position:relative;
	z-index:1;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	color:white;
	text-align:center;
}




#BigPanelWrapper {
    display:inline;
}
#BigPanelWrapperParent{
    margin:0;
    border:0;
    padding:0;
    background:#1E824C;
    text-align: left;
    overflow:hidden;
    transition: all 0.5s ease;
	height:100vh;
}

.Panel:nth-child(3) .NonDisp{
    transform:rotate(0deg);
	left:0;
}

.Panel .NonDisp{
	transform: rotate(90deg);
	transform-origin: left top 0;
	transition: all 0.5s ease;
	position:relative;
	left:50%;
	top:0;
}
#BigPanelWrapper:hover .Panel h1.NonDisp{
    opacity:0;
}
.Panel h2.NonDisp{
	width:100vh;
}
.Panel:hover .NonDisp{
	transform:rotate(0deg) !important;
	left:0 !important;
    opacity:1 !important;
}
.Panel:hover h2.NonDisp{
	left:0 !important;
	top:50%;
	transform:translateY(-50%) !important;
	width:inherit;
    transition: all 0.5s ease-in-out;
}

.Panel .SecDisp{
	opacity:1;
	transition: all 0.5s ease;
}
#BigPanelWrapper:hover .Panel .SecDisp{
    opacity:0 !important;
}
#BigPanelWrapper:hover .Panel:hover .SecDisp{
	opacity:1 !important;
}


.PanelBeforeParent{
    overflow:hidden;
    width:100%;
    height:100%;
}
.PanelBeforeChild{
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  transform: skew(-3deg);
    overflow:hidden;
}


#GlobalNav{
    background:#1E824C;
    width:100%;
    position:fixed;
    height:100px;
    top:0;
    opacity:0;
    left:0;
    z-index:100;
    transform-style: preserve-3d;
    transition: all 0.15s linear;
	pointer-events:none;
}
#GlobalNav ul{
    list-style:none;
    margin:0;
    padding:0;
    top:50%;
    transform:translateY(-50%);
    position:relative;
    height:100%;
}
#GlobalNav li{
    display:inline-block;
    width:20%;
    font-size:20px;
    line-height:100px;
    height:100%;
    transition: all 0.5s ease;
    overflow:hidden;
}
#GlobalNav li:hover a{
    color:black;
}
#GlobalNav li::before{
    transform:skewX(-20deg);
	transform-origin: center right !important;
    content:"";
    position:absolute;
    top:0;
    width:20%;
    height:100%;
    z-index:0;
    transition: all 0.5s ease;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
#GlobalNav li:nth-child(1)::before{
	transform:skewX(-20deg)scaleX(2);
}

#GlobalNav li:hover::before{   
    background:#ecf0f1 !important;
}
#GlobalNav li a{
    position:relative;
    z-index:10;
    width:100%;
    height:100%;
    text-decoration:none;
    color:white;
    display:inline-block;
}

#GlobalNav li:nth-child(1)::before{
    left:0;
    background:#c0392b;
}
#GlobalNav li:nth-child(2)::before{
    left:20%;
    background:#1F3A93;
}
#GlobalNav li:nth-child(3)::before{
    left:40%;
    background:#22313F;
}
#GlobalNav li:nth-child(4)::before{
    left:60%;
    background:#8e44ad;
}
#GlobalNav li:nth-child(5)::before{
    background:#1E824C;
    left:80%;
}
#GlobalNav li:nth-child(5):hover{
    background:#ecf0f1;
}

#GlobalNav li:nth-child(3) a{  
	font-family:"Audiowide", sans-serif; 
    color:#FF0000;
}




#LocalNav{
    width:30px;
    height:150px;
    position:fixed;
    top:calc(50vh + 25px);
    right:-100%;
    z-index:100;
    transition: all 0.5s ease;
}
#LocalNav ul{
    margin:0;
    padding:0;
}
#LocalNav li{
    list-style:none;
    margin:0;
    padding:0;
    width:30px;
    height:30px;
	position:relative;
}
#LocalNav input[type=radio]{
    display:none;
}
#LocalNav label{
    width:100%;
    height:100%;
    display:inline-block;
    cursor:pointer;
    opacity:0.75;
}
#LocalNav div{
    position:absolute;
    width:100px;
    right:-100px;
    height:30px;
    line-height:30px;
    display:inline-block;
    background:#34495e;
    opacity:0.75;
    transition: all 0.5s ease;
    pointer-events:none;
	top:0;
}
#LocalNav li:hover div{
    right:30px;
}

#LocalNav li:nth-child(1) label{
    background:#c0392b;
}
#LocalNav li:nth-child(2) label{
    background:#F9690E;
}
#LocalNav li:nth-child(3) label{
    background:#1E824C;
}
#LocalNav li:nth-child(4) label{
    background:#1F3A93;
}
#LocalNav li:nth-child(5) label{
    background:#8e44ad;
}
#LocalNav li:hover label{
    background:black;
}
#LocalNav li input[type=radio]:checked+label{
    background:white;
}



/*
    Main Divs
*/
#AboutHeroFrame{
    padding:10vh;
}

#AboutFrame{
    padding:25vh 10vh;
    background-image:url('/images/fdesign2.jpg');
    background-position:center;
    background-size:cover;
    background-attachment:fixed;
}
#AboutFrame div{
    font-size: 22px;
    max-width:800px;
    position:relative;   
    left:-100vw;
    transition: all 0.5s cubic-bezier(0.000, 0.645, 0.525, 1.075); /* custom */
    text-align:left;
}
#AboutFrame div p{
    position:relative;
    z-index:5;
}
#AboutFrame div::before{
    background:#34495e;
    z-index:0;
    transform:skewX(-10deg);
    content:"";
    position:absolute;
    width:120%;
    height:200%;
    left:-10%;
    top:-50%;
    z-index:0;
    display:block;
}
#AboutFrame div::after{
    background:#34495e;
    z-index:0;
    transform:skewX(-3deg);
    content:"";
    position:absolute;
    width:100vw;
    height:200%;
    left:-100vw;
    top:-50%;
    z-index:0;
    display:block;
}

#ProjectsHeroFrame{
    background:#9b59b6;
    padding:10vh;
    margin:0;
}
#ProjectsHeroFrame h1{
    margin:0;
}

#ProjectsFrame{
    text-align:right;
    margin:0;
}
#ProjectsFrame h2{
    margin:0;
}

.Projecta{
    position:relative;
    height:40vh;
    top:20vh;
    width:40vw;
    transform-style:preserve-3d;
    transition: all 0.5s ease;
    margin-bottom:40vh;
}
.Projecta div{
    position:relative;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
}
.Projecta::before{
    background:#d35400;
    z-index:0;
    transform:skewX(-10deg);
    content:"";
    position:absolute;
    width:120%;
    height:100%;
    top:0;
    z-index:0;
    display:block;
    left:-10%;
}
.Projecta::after{
    background:#d35400;
    z-index:0;
    transform:skewX(-3deg);
    content:"";
    position:absolute;
    width:100vw;
    height:100%;
    top:0;
    z-index:0;
    display:block;
}
.ProjR{
    left:-100vw;
}
.ProjL{
    left:130vw;
    text-align:left;
}
.ProjR::after{
    left:-90vw;
}
.ProjL::after{
    right:-90vw;
}
.ProjLimg{
    left:0;
}
.ProjRimg{
    right:0;
}
.Projectb{
    position:absolute;
    height:80vh;
	width:120vh;
	
	
	object-fit:cover;
	object-position:center;
}
/*.Projectba{
    position:absolute;
    height:80vh;
    top:calc(inherit - 80vh);
    z-index:100;
    transition: all 0.5s ease;
}

.HoverOp{
    opacity:0;
    transition: all 1s ease;
}
.HoverOpA{
    transition: all 1s ease;
    width:80%;
    height:80%;
    position:fixed;
    top:10%;
    left:10%;
}
*/


#CommHeroFrame{
    background:#27ae60;
    padding:10vh;
    margin:0;
    margin:0;
}
#CommHeroFrame h1{
    margin:0;
}

#CommFrame{
	/*height:100vh;*/
    text-align:center;
    margin:0;
    padding:5vh;
    position:relative;
    transform-style:preserve-3d;
}
#CommFrame div{ /*Used to be img*/
    max-height:75vh;
    max-width:60vw;
	margin:0 auto;
}
/*#CommFrame div{
    position:absolute;
    top:75vh;
    left:50%;
    transform:translateX(-50%);
    background:rgba(39,174,96,0.85);
    width:100vw;
    padding:3vh;
    
    transition: all 0.5s ease;
    top:80vh;
    opacity:0;
}*/


#OffHeroFrame{
    background:#2980b9;
    padding:10vh;
    margin:0;
    margin:0;
}
#OffHeroFrame h1{
    margin:0;
}

#OffFrame{
    text-align:center;
    margin:0;
}
#OffFrame table{
    width:95%;
    margin: 5vh auto;
    border-collapse:collapse;
    
    transition: all 0.5s ease;
    position:relative;
    left:-5vh;
    opacity:0;
}
#OffFrame td{
    width:33%;
    padding: 5vw;
    font-size:115%;
}
#OffFrame tr:nth-child(odd){
    background:#bdc3c7;
    color:black;
}

#AwardHeroFrame{
    background:#663399;
    padding:10vh;
    margin:0;
    margin:0;
	
}
#AwardFrame{
	margin:0;
	background-image:url("/images/new/PackingFood.JPG");
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	padding-bottom:5vh;
}
#AwardFrame p{
	/*margin: 20vh 10vw;
	font-size:125%;*/
	padding: 5vh;
	margin:0;
}
#AwardFrame table{
	margin: 0 auto;
	border-collapse:collapse;
	/*margin-bottom: 5vh;*/
	position:relative;
	transition: left 0.5s ease, opacity 0.5s ease;
	left:-20%; opacity: 0;
}
#AwardFrame td, th{
	padding: 20px;
}
#AwardFrame tr:nth-child(odd){
    background:#bdc3c7;
    color:black;
}
#AwardFrame tr:nth-child(even){
    background:#2c3e50;
}


#EndFrame{
    background:#ecf0f1;
    color:black;
    padding:2vw;
}
#EndFrame p{
    margin:0;
}
#EndFrame a{
    text-decoration:underline;
    color:black !important;
}
#EndFrame a:hover{
    text-decoration:none;
}

.DenseOnly{
	display:none;
}


.iis-caption{
	max-width:80% !important;
	text-align:left;
}



/*
 * Mobile Stuff! Woot! Finally!
 * ============================
 */
@media (max-width : 768px) {
	body, html{
		width:100vw;
		overflow-x:none;
	}
	
	#BigPanelWrapperParent{
		width:100%;
		height:calc(100vh - 100px);
		margin-top:100px;
	}
	#BigPanelWrapper{
		display:inline !important;
	}
	#NewPanelWrapper{
		display:none;
	}
	
	
	.Panel{
		display:none;
	}
	.Panel:nth-child(3){
		display:block;
		width:100% !important;
		background-image:url("/images/new/heroBG.JPG");
		background-size:cover;
		background-position:50% 50%;
		background-attachment:fixed;
        height:100%;
	}
	.Panel:nth-child(3) .PanelBeforeChild{
		transform:inherit;
	}
	.Panel:nth-child(3) .PanelBeforeChild::before{
		display:none;
	}
	.TitleBG{
		transform:inherit;
	}
	
	
	#GlobalNav{
		opacity:1 !important;
        pointer-events: all !important;
	}
	#LocalNav{
		opacity:0;
	}
	#AboutFrame{
		padding: 25vh 0;
		text-align:center;
	}
	#AboutFrame div{
		padding:5%;
		left:4vw !important;
		width:80vw;
		text-align:center;
	}
	#AboutFrame div:before{
		transform:inherit;
		width:100%;
		height:100%;
		top:0;
		left:0;
		opacity:0.9;
	}
	#AboutFrame div:after{
		display:none;
	}
	
	#ProjectsFrame{
		background:#d35400;
		display:inline-block;
	}
	#ProjectsFrame img{
		height:inherit;
		width:100%;
		position:static;
		margin:0;
	}
	#ProjectsFrame div{
		margin:0;
		position:static;
		transform:inherit;
		height:inherit;
		width:100%;
		text-align:center;
		padding-top:1vh;
		padding-right:5px;
	}
	#ProjectsFrame div:before{
		display:none;
	}
	#ProjectsFrame div:after{
		display:none;
	}
    
	
    #CommFrame div{
        opacity:1;
    }
	#slider{
		position:static;
	}
    
    #OffFrame table{
        width:100%;
        margin:0;
        padding:0;
        opacity: 1;
        left:0;
    }
    #OffFrame td{
        display:block;
        width:100%;
        padding:3vh 0;
        color:white;
    }
    #OffFrame tr:nth-child(odd) td:nth-child(odd), tr:nth-child(even) td:nth-child(even){
        background:#bdc3c7;
        color:black !important;
    }
    #OffFrame tr{
        background:inherit !important;
    }
}