@import url(https://fonts.googleapis.com/css?family=Audiowide|Open+Sans|Raleway:300);

body{
	font-family: 'Open Sans', sans-serif;
	margin:0;padding:0;
	overflow-x:hidden;
	background:#ecf0f1;
}




.Hero{
	height:90vh;
	background-size:cover;
	background-attachment:fixed;
}





.MainTitle{
	font-family:"Audiowide", sans-serif;
	color:#7A52CC;
}
.MainTitle span{
	color:#FF0000;
}



nav{
	position:fixed;
	top:10px; right:10px;
	color:white;
	z-index:100;
	text-align:right;
	white-space:nowrap;
}

nav a{
	color:white;
	text-decoration:none;
}

#NavBG{
	position:fixed;
	top:0; right:0;
	z-index:98;
	width:100%;
	height:72px;
	background:#2c3e50;
	margin:0; padding:0;
}
#NavBG h1{
	margin:0;
	line-height:72px;
	font-size:60px;
	padding-left:10px;
}


.CurrPage{
	pointer-events:none;
}
.CurrPage span{
	pointer-events:none;
}

.SurroundBtn{
	/*background:white;
	color:black;*/
	padding:15px 30px;
	display:inline-block;
	border:none;
	position:relative;
	cursor:pointer;
	vertical-align:top;
	margin-left:3px;
	transition: background 0.2s ease;
}
.SurroundBtn:active, .SurroundBtn.CurrPage{
	background:rgba(0,0,0, 0.6);
}
.SurroundBtn.CurrPage{
	cursor:default;
}

.SurroundBtn::before, .SurroundBtn::after, .SurroundBtn .LeftPseudo, .SurroundBtn .RightPseudo{
	position:absolute;
	display:block;
	/*bottom:0; left:0;
	width:0;
	height:5px;*/
	background:black;
	/*content:'';*/
	transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
	opacity:0;
}
.SurroundBtn:hover::before, .SurroundBtn:hover::after, .SurroundBtn:hover .LeftPseudo, .SurroundBtn:hover .RightPseudo, .CurrPage.SurroundBtn::before, .CurrPage.SurroundBtn::after, .CurrPage.SurroundBtn .LeftPseudo, .CurrPage.SurroundBtn .RightPseudo{
	opacity:1;
}

.SurroundBtn::before, .SurroundBtn::after{
	height:3px; width:0;
	content:'';
}
.SurroundBtn:hover::before, .SurroundBtn:hover::after, .CurrPage.SurroundBtn::before, .CurrPage.SurroundBtn::after{
	width:100%;
}

.SurroundBtn::before{
	top:0;right:0;
}
.SurroundBtn::after{
	bottom:0; left:0;
}



.SurroundBtn .LeftPseudo, .SurroundBtn .RightPseudo{
	width:3px; height:0;
}
.SurroundBtn:hover .LeftPseudo, .SurroundBtn:hover .RightPseudo, .SurroundBtn.CurrPage .LeftPseudo, .SurroundBtn.CurrPage .RightPseudo{
	height:100%;
}
.SurroundBtn .LeftPseudo{
	bottom:0;left:0;
}
.SurroundBtn .RightPseudo{
	top:0;right:0;
}




.MainBtn{
	vertical-align:top;
	background:white;
	color:black;
	padding:12px 27px;
	display:inline-block;
	border:3px black solid;
	position:relative;
	transition: color 0.5s ease;
	overflow:hidden;
	cursor:pointer;
}
.MainBtn:hover, .MainBtn.CurrPage{
	color:white;
}
.MainBtn.CurrPage{
	background:rgba(0,0,0,0.6);
	cursor:default;
}
.MainBtn.CurrPage::before, .MainBtn.CurrPage::after{
	display:none;
}

.MainBtn span{
	position:relative;
	z-index:1;
}
.MainBtn::before{
	content:'';
	background:black;
	width:100%;
	height:100%;
	position:absolute;
	left: -125%; top:0;
	z-index:0;
	transform:skewX(45deg);
	transition: left 0.3s ease-in, background 0.2s ease;
}
.MainBtn:hover::before{
	left:-49%;
	/*left:calc(-50% + 1px);*/
	transition: left 0.3s ease-out, background 0.2s ease;
}
.MainBtn::after{
	content:'';
	background:black;
	width:100%;
	height:100%;
	position:absolute;
	right: -125%; bottom:0;
	z-index:0;
	transform:skewX(45deg);
	transition: right 0.3s ease-in, background 0.2s ease;
}
.MainBtn:hover::after{
	right:-50%;
	transition: right 0.3s ease-out, background 0.2s ease;;
}
.MainBtn:active::before, .MainBtn:active::after{
	background:rgb(51,51,51);
}




/*.BigBtn{
	vertical-align:top;
	color:black;
	padding:12px 27px;
	display:inline-block;
	border:3px #000 solid;
	position:relative;
	transition: color 0.5s ease-in, border 0.2s ease;
	overflow:hidden;
	cursor:pointer;
	text-decoration:none;
}
.BigBtn:hover{
	color:white;
	transition: color 0.5s ease-out, border 0.2s ease;
}
.BigBtn:active{
	
	border:3px #8e44ad solid;
}


.BigBtn::before{
	content:'';
	background:white;
	width:100%;
	height:100%;
	position:absolute;
	left: 0; top:0;
	z-index:-2;
}

.BigBtn::after{
	content:'';
	background:#8e44ad;
	width:200%;
	height:100%;
	position:absolute;
	right: 150%; bottom:0;
	z-index:-1;
	transform:skewX(45deg);
	transition: right 0.5s ease-in, background 0.2s ease;
}
.BigBtn:hover::after{
	right:-50%;
	transition: right 0.5s ease-out, background 0.2s ease;;
}
.BigBtn:active::after{
	background:black;
	transition: right 0.05s ease-out, background 0.2s ease;;
}
*/
.BigBtn{
	vertical-align:top;
	color:black;
	padding:12px 27px;
	display:inline-block;
	border:3px #000 solid;
	position:relative;
	background:none;
	transition: color 0.5s ease-in, border 0.2s ease, background 0.2s ease;
	overflow:hidden;
	cursor:pointer;
	text-decoration:none;
}
.BigBtn:hover{
	color:white;
	transition: color 0.5s ease-out, border 0.2s ease;
}
.BigBtn:active{
	border:3px #8e44ad solid;
	color:white;
}


.BigBtn::before{
	content:'';
	background:white;
	width:100%;
	height:100%;
	position:absolute;
	left: 0; top:0;
	z-index:-2;
	
	transition: background 0.2s ease;
}

.BigBtn::after{
	content:'';
	background:#8e44ad;
	width:200%;
	height:100%;
	position:absolute;
	right: 150%; bottom:0;
	z-index:-1;
	transform:skewX(45deg);
	transition: right 0.5s ease-in, background 0.2s ease;
}
.BigBtn:hover::after{
	right:-50%;
	transition: right 0.5s ease-out, background 0.2s ease;;
}
.BigBtn:active::after, .BigBtn:active::before{
	background:black;
}











.ContentWrap{
	padding:72px 0 0 0;/*72px top*/
	margin:0;
}




/* Let's get this party started
::-webkit-scrollbar {
    width: 12px;
	position:relative;
	z-index:10;
}
 
/* Track
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0;
}
 
/* Handle
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgba(0,0,255,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,255,0.2); 
}
*/



.TableOut{
	display:table;
}
.TableRow{
	display:table-row;
}
.TableCel{
	display:table-cell;
}


code{background:#2c3e50;color:white;font-family:'Lucida Console',monospace;padding:5px;border-radius:5px;}

.CenterWrap{
	display: flex;
	align-items: center;
	justify-content: center;
}




/*

=======================================================================

							HOME PAGE CSS

=======================================================================


*/

#HomeHero{
	background-color:#2c3e50;
	background-position:left center;
	background-image:url('/images/new/heroBGTEST.JPG');
	/*background-image:url('/images/IMG_20150322_160628.jpg');*/
	color:white;
	position:relative;
	z-index:99;
	overflow:hidden;
	margin:0;
}
#HomeHero h1{
	font-size:1000%;
	margin:0;
}
#HomeHero h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	font-size:200%;
	margin:0;
}

#HomeHero .HomeHeroWrap{
	top:45vh;
	position:relative;
	transform:translateY(-50%);
	transform-style:preserve-3d;
	margin-left:5vw;
	z-index:10;
}

#HomeHero::before{
	content:'';
	background:linear-gradient(to right, black, rgba(0,0,0,0), rgba(0,0,0,0));/*linear-gradient(to top, #2c3e50, rgba(0,0,0,0) 20%), */
	width:100%;
	height:90vh;
	position:absolute;
	left:0; top:0;
	z-index:0;
}


#HomeCW{
	padding:0;
}



#HeroMotto{
	margin:0;
	padding:10vh;
	text-align:center;
	background:#2c3e50;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-size:150%;
}
#HeroMotto h2{
	margin:0;
}




.InfoFrame{
	/*height:80vh;
	display: flex;
	align-items: center;*/
	overflow:hidden;
	z-index:1;
	text-align:center;
	width:40%;
	margin-left:30%;
}

.InvertFrame{
	color:white;
	background:#2c3e50;
}



.PicDiv{
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	overflow:hidden;
}



#SlantPicDiv1::before{
	background-position:top left;
	background-size:cover;
	background-attachment:fixed;
	content:'';
	background-image:url('/images/cs3.jpg');
	transform: skewX(-30deg);
	position:absolute;
	width:200vw;
	height:100%;
	top:0;left:-50vw;
}
#SlantPicDiv2::before{
	background-position:top left;
	background-size:cover;
	background-attachment:fixed;
	content:'';
	background-image:url('/images/VRobots4.jpg');
	transform: skewX(30deg);
	position:absolute;
	width:200vw;
	height:100%;
	top:0;left:-50vw;
}
#SlantPicDiv3::before, #SlantPicDiv5::before{
	background-position:top left;
	background-size:cover;
	background-attachment:fixed;
	content:'';
	background-image:url('/images/new/PackingFood.JPG');
	position:absolute;
	width:200vw;
	height:100%;
	top:0;left:-50vw;
}
#SlantPicDiv4::before, #SlantPicDiv6::before{
	background-position:top left;
	background-size:cover;
	background-attachment:fixed;
	content:'';
	background-image:url('/images/new/FoodBank.JPG');
	position:absolute;
	width:200vw;
	height:100%;
	top:0;left:-50vw;
}
#SlantPicDiv3::before, #SlantPicDiv6::before{
	transform:skew(30deg);
}
#SlantPicDiv4::before, #SlantPicDiv5::before{
	transform:skew(-30deg);
}






/*

=======================================================================

							ABOUT PAGE CSS

=======================================================================


*/

.HeroWrap{
	margin:0;
	min-height:70vh;
 	background-attachment:fixed;
	background-size:cover;
	background-image:url('/images/fdesign2.jpg');
	background-position:center;
	position:relative;
}
.HeroWrap::before{
	content:'';
	position:absolute;
	top:0; left:0;
	height:100%; width:100%;
	background-image:linear-gradient(to bottom, rgba(236, 240, 241,0) 60%, rgb(236, 240, 241));
}
.HeroWrap h1{
	margin:0;
	line-height:60vh;
	font-size:500%;
	padding-left:75px;
}



section{
	margin: 75px;
}



label{
	cursor:pointer;
}





.PhotoGallery{
	width:100%;
	margin: 30px auto;
	height:500px;
	position:relative;
	overflow-y:hidden;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.5); 
}
.PhotoGallery::after{
	content:'';
	width:100%;	height:100%;
	top:0; left:0; position:absolute;
	z-index:-3;
	background:#34495e;
}
.PhotoGallery ul{
	margin:0; padding:0;
	list-style:none;
	height:100%;
	width:20%;
	overflow-y:hidden;
	overflow-x:hidden;
}
.PhotoGallery li{
	margin:0; padding:0;
	display:block;
	height:25%;
}
.PhotoGallery input{
	display:none;
}

.PhotoGallery label{
	display:inline-block;
	line-height:125px;
	color:white;
	background:#34495e;
	margin:0; padding: 0 5px 0 15px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.3); 
	
	height:100%;
	width:100%;
	left:0; top:0;
	z-index:1; position:relative;
	text-shadow:none;
	
	transition: background 0.5s ease-out, padding 0.5s ease-out, text-shadow 0.5s ease;
}
.PhotoGallery input:checked+label{
	color:black;
	background:rgba(255, 255, 255, 0);
	padding: 0 0 0 20px;
	text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
}

.PhotoGallery div{
	position:absolute;
	top:0; left:0; width:100%; height:100%;
	background:black;
	z-index:-2;
	transition: transform 1s ease;
	overflow:hidden;
	text-align:center;
	
	transform:translateY(-100%);
}
.PhotoGallery label:hover+div{
	transform:translateY(100%);
	transition:none;
	z-index:-3;
}
.PhotoGallery input:checked~div{
	transform:translateY(0) !important;
	transition: transform 1s ease !important;
	z-index:-1;
}

.PhotoGallery div img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.PhotoGallery div p{
	position:absolute;
	max-width:60%;
	right:0; bottom:0;
	padding:20px;	margin:0;
	color:white;
	z-index:1;
	text-align:right;
	background:rgba(0,0,0,0.3);
}






#CommServ .TableOut{
	width:100%;
	min-height:300px;
	color:white;
	background:black;
	text-align:center;
	height:300px;
}
#CommServ .TableCel{
	width:33%; height:100%;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
	background-position:center;
	background-size:cover;
	position:relative; z-index:1;
	
	transition:transform 0.5s ease;
	transform:scale(1);
	
	overflow-y:hidden;
	overflow:hidden;
}
#CommServ .TableCel:hover{
	transform:scale(1.05);
	z-index:2;
}

#CommServ h3{
	margin:0;
}
#CommServ .TextWrap{
	padding:0;
	margin:0; position:absolute;
	background:rgba(0,0,0,0.3);
	transform:translateY(100%);
	transition: transform 0.5s ease;
	height:100%; width:100%;
	min-height:300px;
	
	display: flex;
	align-items: center;
}
#CommServ p{
	padding: 0 5px;
	margin:0;
}
#CommServ .TableCel:hover .TextWrap{
	transform:translateY(0);
}

#CommServ .TableCel:nth-child(1){
	background-image:url('/images/cs2.jpg');
}
#CommServ .TableCel:nth-child(2){
	background-image:url('/images/cs1.jpg');
}
#CommServ .TableCel:nth-child(3){
	background-image:url('/images/new/CancerBands.jpg');
}



#OffIntro .TableOut{
	width:100%;
	min-height:300px;
	height:300px;
	color:white;
	background:black;
	text-align:center;
}
#OffIntro .TableCel{
	width:16.6%; height:100%;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
	background-position:center;
	background-size:cover;
	position:relative; z-index:1;
	
	transition:transform 0.5s ease;
	transform:scale(1);
	
	overflow-y:hidden;
	overflow:hidden;
}
#OffIntro .TableCel:hover{
	transform:scale(1.05);
	z-index:2;
}

#OffIntro h3{
	margin:0;
}
#OffIntro .TextWrap{
	padding:10px 0;
	display:block;
	margin:0; position:absolute;
	/*background:rgba(0,0,0,0.3);*/
	background:rgb(52, 73, 94);
	transform:translateY(100%);
	transition: transform 0.5s ease;
	width:100%;
	bottom:0; left:0;
	color:white; text-decoration:none;
}
#OffIntro .TextWrap div{
	width:100%;
}
#OffIntro p{
	padding: 0 5px;
	margin:0;
}
#OffIntro .TableCel:hover .TextWrap{
	transform:translateY(0);
}

#OffIntro .TableCel:nth-child(1){
	background-image:url('https://i.imgur.com/iBj8SBk.jpg');
}
#OffIntro .TableCel:nth-child(2){
	background-image:url('/images/max.jpg');
}
#OffIntro .TableCel:nth-child(3){
	background-image:url('/images/Makenzie.jpg');
}
#OffIntro .TableCel:nth-child(4){
	background-image:url('https://pbs.twimg.com/profile_images/736763645510725632/ICe9Z_2V.jpg');
}
#OffIntro .TableCel:nth-child(5){
	background-image:url('https://michaelxing.tk/old/aktsa/img/nats.jpg');
}
#OffIntro .TableCel:nth-child(6){
	background-image:url('https://i.imgur.com/X6OtAFW.jpg');
}

#WeWonStuff{
	width:100%;
	border-collapse:collapse;
}
#WeWonStuff tr:nth-child(odd){
	background:rgb(189, 195, 199);
}
#WeWonStuff td, th{
	padding:5px;
}






/*

=======================================================================

							MEMBER PAGE CSS

=======================================================================


*/

#MembHeroWrap{
	background-image:url('/images/new/FoodBank.JPG');
}
#MembHeroWrap h1{
	line-height:initial;
	text-shadow: -2px -2px white, 2px 2px white, 2px -2px white, -2px 2px white;
	padding-top:6vh;
}

#MembMain{
	width:calc(100% - 150px);
	margin-left:auto;
	margin-right:auto;
	margin-top:-40vh;
	background:#ecf0f1;
	position:relative;
	z-index:5;
	min-height:500px;
}

#MembMain .Lean{
	display:inline-block;
	width:50%;
	margin:0;
	vertical-align: top;
}

#MembMain h2{
	text-align:center;
}

#MembMain #CommBox p{
	margin:0;
	font-size:75%;
}

#MembMain ul{
	margin:0;
	padding:0 3vw;
	list-style:none;
}
#MembMain li{
	padding:10px;
}
#MembMain li:nth-child(odd){
	background:#bdc3c7;
	color:black;
}
#MembMain li:nth-child(even){
	background:#34495e;
	color:white;
}



#MembMain #CommBox li{
	display:none;
}
#MembMain #CommBox li:nth-child(1), #MembMain #CommBox li:nth-child(2), #MembMain #CommBox li:nth-child(3), #MembMain #CommBox li:nth-child(4), #MembMain #CommBox li:nth-child(5), #MembMain #CommBox li:nth-child(6){
	display:list-item;
}


#MembMain .UpBox{
	display:inline-block;width:50%;
	height:100px;
	min-height:10vw;
	vertical-align:top;
	position:relative;
	overflow:hidden;
	z-index:1;
	background-position:center;background-size:cover;
}
#MembMain .HoverBox{
	width:calc(100% - 10px);
	position:absolute;
	height:100%;
	color:white;
	padding:0 5px;
	
	top:-100%;
	transition: top 0.5s ease;
}
#MembMain .UpBox:hover .HoverBox{
	top:0;
}
#MembMain .UpBox::before{
	content:'';
	top:0; left:0; width:100%; height:100%;
	position:absolute;
	z-index:0;
	background:radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
	opacity:0; transition: opacity 0.5s ease;
}
#MembMain .UpBox:hover::before{
	opacity:1;
}

#MembMain .UpBox p{
	margin:0; padding:0;
}

#MembMain .BigBtn{
	margin-bottom:10px;
}

#MembMain .NextMeet{
	padding-top: 30px;
	padding-bottom:30px;
}
#MembMain .NextMeet::after{
	content:' Next Meeting';
	margin-left:40px;
}




/*

=======================================================================

							OFFICER PAGE CSS

=======================================================================


*/


#OffFrame{
	margin:0;
	padding:0;
	border:none;
	width:100%;
	height:calc(100vh - 72px);
	display:block;
}

#OffNav{
	position:fixed;
	bottom:0;left:0;
	z-index:10;
	/*font-size:0;*/
	text-align:left;
	padding:5px;
	background:#7A52CC;
}

/*#OffNav a{
	font-size:16px;
	padding:10px;
	display:inline-block;
	text-decoration:none;
	background:#7A52CC;
	color:white;
	transition: all 0.5s ease;
}
#OffNav a:hover{
	color:black;
	background:#F4F4F4;
}
#OffNav a:active{
	color:white;
	background:black;
}*/
#OffNav a.CurrPage{
	pointer-events:none;
	color:white;
	background:#8e44ad;
}

#OffPage::before{
	background:#9b59b6;
	content:''; position:absolute; z-index:-3; left:0; top:0; width:100%; height:100%;
}






/*

=======================================================================

							AK CTE CSS

=======================================================================


*/

#CTEHero{
	background-image:url('/images/CTEProj3.jpg');
}
#CTEHero::before{
	display:none;
}



#CTEClasses{
	position:relative;
}

#CTEClasses .BigBox{
	display:inline-block;
	width:33.333%;
	height:200px;
	background-size:cover;
	background-position:center;
	vertical-align:top;
	cursor:pointer;
	position:relative;
}
#CTEClasses p{
	margin:0;
	text-align:center;
	height:100%;
	background:radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
	color:white;
	opacity:0;
	transition: opacity 0.5s ease;
}
#CTEClasses .BigBox:hover p{
	opacity:1;
}
#CTEClasses .BigBox:active p{
	opacity:0.8;
	transition: opacity 0.1s ease;
}

#CTEClasses button{
	background:none;
	padding: 10px 13px;
}
#CTEClasses .ClassOpen{
	max-height:0vh;
	transition: max-height 0.2s ease-out;
	overflow-y:hidden;
	background:#34495e;
	color:white;
	
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
}
#CTEClasses .ClassOpen p{
	color:white;
	opacity:1; background:none;
	text-align:left;
	margin:20px;
}
#CTEClasses .ClassOpen h3{
	margin:20px;
}

#CTEClasses .ClassArrow{
	font-size:400%;
	color:white;
	width:100%;
	display:inline-block;
	text-align:center;
	position:absolute;
	top:80%;
	transition: opacity 0.5s ease;
	opacity:0;
}

#CTEClasses #ClassClose{
	position:absolute;
	right:-50px;
	top:50%;
	transform:translateY(-50%);
	opacity:0;
	transition: opacity 0.5s ease;
	pointer-events:none;
}











/*
	Projects Frame
*/
#CTEProj{
	width:100%;
	position:relative;
}
#CTEProj div:nth-child(1){
	width:40vw;
	top:10vh;
	right:0;
}



#ProjFrame{
	position:relative;
	left:-75px;
	width:100%;
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	min-height:70vh;
	z-index:0;
	
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
	
	transition:background 0.5s ease;
	background-image:url('/images/VRobots4.jpg');
}



#ProjSelect{
	display:inline-block;
	left:65vw;
	position:relative;
}
#ProjSelect input{
	display:none;
}

#ProjSelect label{
	cursor:pointer;
	position:relative;
	padding:3vh 10vw;
	display:block;
	text-align:left;
	transition: all 0.5s ease;
	left:0;
	transform:perspective(600px)rotateX(0deg)rotateY(0deg);
	transform-origin:right;
	z-index:1;
}
#ProjSelect label:nth-of-type(odd){
    color:black;
	background:#bdc3c7;
}
#ProjSelect label:nth-of-type(even){
    color:white;
	background:#34495e;
}
#ProjSelect label span{
    position:relative;
    z-index:1;
}




#ProjSelect input:checked + label{
	/*left:-10%;*/
	transform:perspective(600px)rotateX(1deg)rotateY(-2deg);
	font-weight:bold;
	z-index:1;
}
#ProjSelect label:hover{
	/*left:5%;*/
	transform:perspective(600px)rotateX(0deg)rotateY(2deg);
	z-index:2;
}

#ProjInfo{
	position:absolute;
	left:0;
	bottom: 5vh;
	text-align:left;
	background:rgba(44, 62, 80,0.7);
	padding:1vw 2vw;
	max-width:40vw;
	
	transition: opacity 0.5s ease 0.6s;
	z-index:2;
	color:white;
}
#ProjInfo p{
	display:none;
}




.CTETeach .TableOut{
	min-height:30vw !important;
	width:50% !important;
	position:relative;
}
.CTETeach .TableCel{
	height:50% !important;
	overflow:hidden;
	width:16.666% !important;
	box-shadow:none !important;
}

.CTETeach .InfoCell{
	position:absolute; left:0;top:0;width:100%;height:100%;
	 color:white;
	
	transition: left 0.5s ease;
	overflow-y:auto;
	
	background:#34495e;box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}

.CTETeach .InfoCell h3{
	margin:20px !important;
}
.CTETeach .InfoCell p{
	margin: 0 20px 20px 20px !important;
	text-align:left;
}














/*
================================================

		MOBILE AND SMALL SCREEN WIDTH

================================================
*/
@media (max-width : 1079px) {/*Fix that dumb nav overlap*/
	nav a{
		padding-left: 5px !important;
		padding-right:5px !important;
	}
	#MemberHeroWord{
		display:none;
	}
}
@media (max-width : 500px){
	section.HeroWrap, .HomeHero, #HeroMotto{
		margin-left:0 !important;
		margin-right:0 !important;
	}
	.HeroWrap h1{
		padding: 0 !important;
		text-align:center !important;
	}
	section{
		margin-left:10px !important;
		margin-right: 10px !important;
	}
	.InfoFrame{
		margin-left: 30% !important;
	}
}
@media (max-width : 700px) {
	body{
		font-size:80%;
	}
	nav{
		top:11px;
		
		right:-110px;
		transition: right 0.5s ease;
	}
	nav::before{
		content:'Navigation';
		background:black;
		text-align:center;
		width:100px;
		height:50px;
		line-height:50px;
		right:120px;
		position:absolute;
		transform:translateX(0px);
		transition: transform 0.5s ease;
		top:0;
	}
	nav:hover{
		right:0px;
	}
	nav:hover::before{
		transform:translateX(110px);
	}
	
	nav a:nth-child(1){
		margin-top:50px !important;;
	}
	
	nav a{
		display:block !important;
		text-align:center;
		
		background:#2c3e50 !important;
		border:none !important;
		color:white !important;
		
		margin:0 !important;
		padding-left:0 !important;
		padding-right:0 !important;
		width:110px;
		
		transition: background 0.5s ease, color 0.5s ease !important;
	}
	nav .MainBtn{
		font-weight:bold;
	}
	nav a:hover{
		background:rgba(0,0,0,0.5) !important;
	}
	nav a:active{
		background:rgba(255,255,255,0.5) !important;
		color:black !important;
	}
	nav a::before{
		display:none !important;
	}
	nav a::after{
		display:none !important;
	}
	nav div{
		display:none !important;
	}
	nav .CurrPage{
		color:black !important;
		background:white !important;
	}
	
	
	
	
	
	/*
		ABOUT PAGE
	*/
	.PhotoGallery{
		width:100%;
		margin: 30px auto;
		height:inherit;
		position:relative;
		overflow-y:auto;
		box-shadow:none; 
	}
	.PhotoGallery::after{
		display:none;
	}
	.PhotoGallery ul{
		margin:0; padding:0;
		list-style:none;
		height:100%;
		width:100%;
		
	}
	.PhotoGallery li{
		margin:0; padding:0;
		display:block;
		height:initial;
	}
	.PhotoGallery input{
		display:none;
	}
	
	.PhotoGallery label{
		display:block;
		line-height:initial;
		color:black;
		background:none;
		padding: 20px 0 !important;
		box-shadow:none;
		font-size:125%;
		
		
		text-shadow:none;
		text-align:center;
		transition:none;
		pointer-events:none;
	}
	
	.PhotoGallery div{
		position:relative;
		top:0; left:0; width:100%; height:100%;
		background:black;
		z-index:-2;
		overflow:hidden;
		text-align:center;
		
		transform:none;
	}
	
	.PhotoGallery div p{
		position:absolute;
		max-width:100%;
		width:calc(100% - 40px);
		text-align:left;
	}
	
	
	#CommServ .TableOut, #OffIntro .TableOut{
		display:block;
		background:none;
		height:initial !important;
	}
	#CommServ .TableRow, #OffIntro .TableRow{
		display:block;
	}
	#CommServ .TableCel{
		display:block;
		margin-top:20px;
		width:100%;
		box-shadow:none;
		
		transition:none;
		transform:none;
		
		overflow-y:auto;
		
	}
	#CommServ .TableCel:hover{
		transform:none;
	}
	
	#CommServ .TextWrap{
		position:relative;
		transform:translateY(0);
		transition:none;
		
		
	}
	
	
	
	
	
	
	#OffIntro .TableOut{
		color:white;
		text-align:center;
	}
	#OffIntro .TableCel{
		width:100%; height:100%;
		min-height:400px;
		box-shadow:none;
		position:relative; z-index:1;
		display:block;
		
		transition:none;
		transform:none;
		
		overflow-y:auto;
		
		margin-top:20px;
		
	}
	#OffIntro .TableCel:hover{
		transform:none;
	}
	
	#OffIntro .TextWrap{
		position:relative;
		/*background:rgba(0,0,0,0.3);*/
		transform:none;
		transition: none;
		text-align:left;
		width:100%;
		top:0;
		bottom:initial;
		left:0;
		color:white; text-decoration:none;
	}
	#OffIntro h3{
		padding-left:5px;
	}
	
	
	
	/*
		MEMBER PAGE
	*/
	
	
	
	#MembMain{
		width:initial !important;
		margin-left:10px;
		margin-right:10px;
		margin-top:-40vh;
		background:#ecf0f1;
		position:relative;
		z-index:5;
		min-height:500px;
		padding-top:20px;
	}
	
	#MembMain .Lean{
		display:block;
		width:100%;
		margin:0;
		vertical-align: top;
	}
	
	#MembMain .UpBox{
		display:block;width:100%;
		height:initial;
		min-height:10vw;
		overflow:auto;
		background-size:contain;
		background-repeat:no-repeat;
		background-position:left;
	}
	#MembMain .HoverBox{
		width:calc(100% - 20px);
		position:relative;
		height:100%;
		min-height:10vw;
		color:white;
		padding:0 5px;
		
		display:flex;
		align-items:center;
		
		
		
		top:0;right:0;
		text-align:right !important;
		transition: none;
	}
	#MembMain a{
		text-decoration:none !important;
	}
	#MembMain .UpBox p{
		width:100%;
		text-decoration:none !important;
		padding-left:40px;
	}
	#MembMain .UpBox::before{
		display:none;
	}
	
	#MembMain .UpBox:nth-child(1){
		background-color:rgb(58,88,158);
	}
	#MembMain .UpBox:nth-child(2){
		background-color:rgb(97,170,223);
	}
	#UpBox3{
		background-color:rgb(226,18,78) !important;
	}
	#UpBox4{
		background-color:rgb(51,51,51) !important;
	}
	
	
	/*
		CTE Teachers
	*/
	.CTETeach .TableOut{
		min-height:30vw !important;
		width:100% !important;
		position:relative;
		height:initial !important;
	}
	.CTETeach .TableCel{
		height:initial !important;
		overflow:auto;
		width:100% !important;
		box-shadow:none !important;
		pointer-events:none;
		display:none !important;
	}
	
	.CTETeach .InfoCell{
		position:relative; left:0;top:0;width:100%;height:initial;
		color:white;
		
		z-index:4;
		
		transition:none;
		overflow-y:auto;
		margin-top:20px;
		
		background:#34495e;
		box-shadow: none !important;
	}
	
	.CTETeach .InfoCell h3{
		margin:20px !important;
	}
	.CTETeach .InfoCell p{
		margin: 0 20px 20px 20px !important;
		text-align:left;
	}
	
	#ClassClose{
		display:none;
	}
	
	#CTEHero{
		font-size:80%;
	}
	#CTEHero img{
		max-width:30vh !important;
	}
	#CTEHero span{
		left:-20vh;
		position:relative;top:-5vh;
	}
	#CTEHero p{
		left:30vh !important;
		top:-30vh !important;
	}
}
