@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
    padding:  0;
    margin: 0;
}



h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
}
h1{
	font-family:"Audiowide", sans-serif;
	font-size:1000%;
	margin:0;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	font-size:200%;
	margin:0;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;   
}

p{
    font-family: 'Raleway', sans-serif;
        font-size: 120%;
}



section:nth-child(odd){
	background:white;
}
section:nth-child(even){
    background-color: #F4F4F4;
}




/*
 *  Cards
 */

/*Code was written by Dmitry and is incredibly messy, broken, and hack-y. Recommend caution if making changes.*/

.dawg{
    background-color: #F4F4F4;
    color: black;
    display: inline-block;
    width: 350px;
    margin: 20px;
    height: 400px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    -webkit-transition: background-color  0.4s ease-out;
	-moz-transition: background-color  0.4s ease-out;
	-o-transition: background-color  0.4s ease-out;
	-ms-transition: background-color  0.4s ease-out;
	transition: background-color  0.4s ease-out;
}

.dawg:hover{
    background-color: #8e44ad;
    color: white;
	-webkit-transition: background-color  0.4s ease-out;
	-moz-transition: background-color  0.4s ease-out;
	-o-transition: background-color  0.4s ease-out;
	-ms-transition: background-color  0.4s ease-out;
	transition: background-color  0.4s ease-out;
}

.cheapcardfix .dawg{
	background:white;
}
.cheapcardfix .dawg:hover{
    background-color: #8e44ad !important;
    /*Overrides holder 2 cheapcardfix background value*/
}
.holder2 .cheapcardfix .dawg{
	background:#F4F4F4;
}

.dawg h3{
 margin-top: 0;   
}

.holder{   
    max-width: 1200px;
    margin: auto;
    overflow-x: hidden;
}

.cardCon{
    min-width: 1200px;
    height: 450px;
}

/*Additional Cards Code, slightly less messy*/
.ThreeCards{
	margin-top:30px;
}
.ThreeCards div{
	width:30vw;
	height:54vh;
	margin-left:1vw;
	margin-right:1vw;
	display:inline;
	text-align:center;
    border: none;
    background-color: #F4F4F4;
    padding: 4px;
}
.ThreeCards img{
	max-width:29vw;
}




/*
    Responsive Stuff 
*/ 

@media  all and (min-width: 0px) {
    .holder{ 
        width: 410px;
        //background: blue;
    }
}

@media  all and (min-width: 1000px){
    .holder{ 
        width: 800px;
        //background: red;
    }

    .bu{
        display: normal;
    }
}

@media  all and (min-width: 1200px){
    .holder{ 
        width: 1200px;
        //background: red;
    }

    .bu{
        display: none;
    }
}





/*
 * Additional Small Things
 */


.ScrollDown{
	font-style:italic;
	position:absolute;
	bottom:25px;
	left:25vw;
	width:50vw;
}

.ScrollButton{
    color: gray;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    font-size: 60px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

.fp-tooltip{
	color:black !important;
	text-shadow:0px 0px 10px #fff;
}



.BigButton{
	display:inline-block;
	background:#7A52CC;
	color:white;
	padding:10px;
	transition:all 0.4s ease;
}
.BigButton:hover{
	background:white;
	color:black;
	text-decoration:none !important;
}
