@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans);

body{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}

h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
}
h1{
	font-family:"Audiowide";
	font-size:1000%;
	margin:0;
}
h2{
	font-size:400%;
	margin:0;
}

.ThreeCards{
	margin-top:10px;
}
.ThreeCards div{
	width:30vw;
	height:75vh;
	margin-left:1vw;
	margin-right:1vw;
	display:inline-block;
	box-shadow: 8px 8px 20px 1px #999;
	background:white;
}
.ThreeCards div:nth-child(1){
	
}
.ThreeCards div:nth-child(2){
	
}
.ThreeCards div:nth-child(3){
	
}

section:nth-child(1){
	
}
section:nth-child(2){
	background:linear-gradient(white, #A6C7FF);
}
/*A6C7FF*/

.ScrollDown{
	font-style:italic;
	position:absolute;
	bottom:40px;
	left:25vw;
	text-align:center;
	width:50vw;
}