@import url(http://fonts.googleapis.com/css?family=Audiowide);

body{
	text-align:center;
}

.AKTSA{
	font-family:"Audiowide";
	font-size:500%;
}

.ScrollDown{
	font-style:italic;
	position:absolute;
	bottom:40px;
	left:25vw;
	text-align:center;
	width:50vw;
}