@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

body{
	text-align:center;
	font-family: 'Open Sans', sans-serif;
    padding:  0;
    margin: 0;
}

h2, h3, h4, h5, h6{
	font-family: 'Ubuntu', sans-serif;
}
h1{
	font-family:"Audiowide", sans-serif;
	font-size:1000%;
	margin:0;
}
/* OMG YOU NUBS... IS THIS REALLY HOW YOU CODE? */ 
h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	font-size:200%;
	margin:0;
}

h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;   
}

p{
    font-family: 'Raleway', sans-serif;
        font-size: 120%;
}

header{
    padding-bottom: 40px;
}

.ThreeCards{
	margin-top:30px;
}
.ThreeCards div{
	width:30vw;
	height:54vh;
	margin-left:1vw;
	margin-right:1vw;
	display:inline-block;
	/*box-shadow: 8px 8px 20px 1px #999;*/
	text-align:center;
    border: none;
    background-color: #F4F4F4;
}
.ThreeCards div:nth-child(1){
	
}
.ThreeCards div:nth-child(2){
	
}
.ThreeCards div:nth-child(3){
	
}
.ThreeCards img{
	max-width:29vw;
}

section:nth-child(1){
}
section:nth-child(2){
	/*background:linear-gradient(white, #A6C7FF);*/
	background-color: #F4F4F4;;
}

section:nth-child(3){
}
/*A6C7FF*/

.ScrollDown{
	font-style:italic;
	position:absolute;
	bottom:40px;
	left:25vw;
	text-align:center;
	width:50vw;
}