@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);

html{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

div{
	margin-left:20vw;
}
div div{
	margin-left:0;
}
#GlobalNav::before{
	height:calc(10px + 143px + 4vw);
	width:100%;
	display:block;
	top:0;
	left:0;
	content:'';
}

#MainNav{
	display:block;
	position:fixed;
	height: calc(100vh - 143px - 4vw);
	left:0;
	top:calc(143px + 4vw);
	width:5vw;
	text-align:center;
}
#MainNav ul{
	padding:0;
	margin:0;
}
#MainNav ul li{
	list-style-type: none;
	padding:0;
	width:5vw;
	display:flex;justify-content:center;align-items:center;
	height:calc((100vh - 143px - 4vw) / 5);
	border-bottom-style:solid;
	border-right-style:solid;
	border-width:1px;
	border-color:black;
	/*background:#ECF0F1;*/
    background:#674172;
	color:white;
	cursor:pointer;
	transition: all 0.5s ease;
}
#MainNav ul li:hover{
	/*background:#34495e;*/
	background:#DCC6E0;
    color:black;
}
#MainNav ul ul{
	position:absolute;
	top:0;
	transition: all 0.5s ease;
	left:-10vw;
	z-index:-1;
}
#MainNav li:hover ul{
	left:5vw;
}
/*Defaults*/
#CurrPage a + ul{
    left:5vw;
    z-index:-2;
}
#MainNav #CurrPage > a{
	color:white;
    background:#34495e;
    transition: all 0.5s ease;
}
#MainNav #CurrPage2 a{
	color:white;
    background:#34495e;
    transition: all 0.5s ease;
}
#MainNav #CurrPage::after{
	position:absolute;
    opacity:1;
    
	left:4.5vw;
    
    width: 0; 
	height: 0; 
	border-top: calc((100vh - 143px - 4vw) / 20) solid transparent;
	border-bottom: calc((100vh - 143px - 4vw) / 20) solid transparent;
	
	border-left: calc((100vh - 143px - 4vw) / 20) solid black;
    
}

#MainNav li span{
	transform:rotate(-90deg);
}
#MainNav li li{
	width:13vw;
	border-left-style:solid;
    background:#9B59B6;
}
#MainNav li:nth-child(1) li{
	height:calc(100vh - 143px - 4vw);
	font-size:2vw;
}
#MainNav li:nth-child(5) li{
	height:calc(100vh - 143px - 4vw);
}
#MainNav li:nth-child(2) li{
	height:calc((100vh - 143px - 4vw) / 4);
}
#MainNav li:nth-child(4) li{
	height:calc((100vh - 143px - 4vw) / 6);
}
#MainNav img{
	width:13vw;
}
#MainNav a{
	width:100%;
	height:100%;
	display:inline-block;
	display:flex;justify-content:center;align-items:center;
	color:inherit;
	text-decoration:none;
}

#MainNav li::after{
    content:'';
    opacity:0;
    transition: opacity 0.5s ease;
    pointer-events:none;
}
#MainNav:hover li#CurrPage::after{
    opacity:0;
}
#MainNav:hover li#CurrPage:hover::after{
    opacity:1;
}
#MainNav li:hover::after{
	position:absolute;
    opacity:1;
	/*background:black;
	width:0.5vw;
	height:calc((100vh - 143px - 4vw) / 5);*/
    
	left:4.5vw;
    top:calc((100vh - 143px - 4vw) / 20);
    
    width: 0; 
	height: 0; 
	border-top: calc((100vh - 143px - 4vw) / 20) solid transparent;
	border-bottom: calc((100vh - 143px - 4vw) / 20) solid transparent;
	
	border-left: calc((100vh - 143px - 4vw) / 20) solid black;
    
}
#MainNav li:nth-child(1)::after{
    top:calc((100vh - 143px - 4vw) / 20);
}
#MainNav li:nth-child(2)::after{
    top:calc((100vh - 143px - 4vw) / 20 * 5);
}
#MainNav li:nth-child(3)::after{
    top:calc((100vh - 143px - 4vw) / 20 * 9);
}
#MainNav li:nth-child(4)::after{
    top:calc((100vh - 143px - 4vw) / 20 * 13);
}
#MainNav li:nth-child(5)::after{
    top:calc((100vh - 143px - 4vw) / 20 * 17);
}
#MainNav li li::after{
	display:none;
}











#LocalNav{
	display:none;
}
#BigPanelWrapperParent{
	display:none;
}
#GlobalNav ul{
	margin:0;
	padding:0;
}
#GlobalNav li{
	display:none;
}
#GlobalNav li:nth-child(3){
	display:block;
	z-index:1;
	background:#22313F;
	width:100%;
	margin:0;
	font-family:"Audiowide", sans-serif; 
    color:#FF0000;
	text-align:center;
	padding: 2vw 0;
	font-size:700%;
	max-height:calc(143px + 4vw);
	overflow:hidden;
	position:fixed;
	top:0;
}
#GlobalNav li:nth-child(3) a{
	color:#F00;
	text-decoration: none;
	pointer-events: none;
}
#MainNav .MainTitle{
	transform:rotate(0deg);
}

.MainTitle{
	font-family:"Audiowide", sans-serif; 
    color:#FF0000;
}
.TSA{
	color:#7A52CC;
}

#AboutFrame, #AboutHeroFrame{
	display:none;	
}

#ProjectsHeroFrame, #ProjectsFrame{
	display:none;
}

#CommHeroFrame, #CommFrame{
	display:none;
}

#OffHeroFrame, #OffFrame, #AwardHeroFrame, #AwardFrame{
	display:none;
}

#HeroFrame, #MeetingsFrame, #CommFrame, #CompFrame, #UpFrame, #RefFrame{
	display:none;
}



/*


BEGIN INDIVIDUAL FRAMES


*/
#ProjectsFrame{
	text-align:left;
}
#ProjectsFrame img{
	width:50vw;
	margin-left:20vw;
}
#ProjectsFrame div div{
	float:right;
	width:25vw;
	position:relative;
	top:-30vw;
	z-index:-1;
}




#CommFrame img{
	margin-left:20vw;
}





#OffFrame table{
	margin-left:20vw;
	width: 75vw;
	text-align:center;
	border-collapse:collapse;
}
#OffFrame tr{
	height:calc(20vh)
}
#OffFrame tr:nth-child(odd){
    background:#bdc3c7;
    color:black;
}
#OffFrame tr:nth-child(even){
	background:#2c3e50;
	color:white;
}




#AwardFrame{
	margin-left:20vw;
}



#Meet li.NextMeet::after{
	content:'- NEXT MEETING';
	font-weight:bold;
}

#CommFrame li{
	margin-bottom:15px;
}

#CompFrame h1{
	margin-left:20vw;
}
#CompFrame{
	padding-right:0;
}
#NCTSA{
	-webkit-filter:brightness(0);
	filter:brightness(0);
	max-height:20px;
}
#Nats{
	max-height:30px;
	position:relative;
	top:6px;
}

#RefFrame{
	padding-left:20vw;
}

#Hero h1 img{
	display:none;
}
#VidFrame{
	margin-left:20vw;
}
#YTDisappear span{
	display:none;
}
#TitleBG2{
	display:none;
}
#YTPlayer{
	width:70vw;
	height:39.375vw;
}
#ContFrame h1{
	margin-left:20vw;
}
h1{
	font-size:175%;
}
h2{
	font-size:125%;
}
#AttendFrame{
	margin-left:20vw;
}
#AttendFrame div{
	margin:0;
}










/*

BACKGROUDS

*/
#AboutHeroFrame::before{
	content:'';
	z-index:-5;
	position:absolute;
	display:block;
	top:0;
	left:15vw;
	width:85%;
	height:100vh;
	
	background-image:url("http://aktsa.org/img/fdesign2.jpg");
	background-size:cover;
}
#AboutHeroFrame::after{
	content:'';
	z-index:-4;
	position:absolute;
	display:block;
	top:0;
	left:15vw;
	width:85%;
	height:100vh;
	background:rgba(189, 195, 199, 0.8);
}

#CommFrame::before{
	content:'';
	z-index:-5;
	position:absolute;
	display:block;
	top:0;
	left:15vw;
	width:85%;
	height:100vh;
	
	background-image:url("/images/new/FoodBank.JPG");
	background-size:cover;
}
#CommFrame::after{
	content:'';
	z-index:-4;
	position:absolute;
	display:block;
	top:0;
	left:15vw;
	width:85%;
	height:100vh;
	background:rgba(189, 195, 199, 0.8);
}
/*
#AboutHeroFrame, #AboutFrame{
	background:rgba(189, 195, 199, 0.8);
}