@import url(http://fonts.googleapis.com/css?family=Audiowide);

@import url(http://fonts.googleapis.com/css?family=Ubuntu|Nunito:700|Open+Sans);

@import url(http://fonts.googleapis.com/css?family=Raleway:300);

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: #96281B;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 200%;
}

a {
	color: white !important;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

code {
	background: #2c3e50;
	color: white;
	font-family: 'Lucida Console', monospace;
	padding: 5px;
	border-radius: 5px;
}



/*
    Global Navigation
*/
#GlobalNav {
	background: #1E824C;
	width: 100%;
	position: fixed;
	height: 100px;
	top: 0;
	left: 0;
	z-index: 100;
	transform-style: preserve-3d;
	transition: all 0.15s linear;
}

#GlobalNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	top: 50%;
	transform: translateY(-50%);
	position: relative;
	height: 100%;
}

#GlobalNav li {
	display: inline-block;
	width: 20%;
	font-size: 20px;
	line-height: 100px;
	height: 100%;
	transition: all 0.5s ease;
	overflow: hidden;
}

#GlobalNav li:hover a {
	color: black;
}

#GlobalNav li::before{
    transform:skewX(-20deg);
	transform-origin: center right !important;
    content:"";
    position:absolute;
    top:0;
    width:20%;
    height:100%;
    z-index:0;
    transition: all 0.5s ease;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
#GlobalNav li:nth-child(1)::before{
	transform:skewX(-20deg)scaleX(2);
}

#GlobalNav li:hover::before {
	background: #ecf0f1 !important;
}

#GlobalNav li a {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: white;
	display: inline-block;
}

#GlobalNav li:nth-child(1)::before {
	left: 0;
	background: #c0392b;
}

#GlobalNav li:nth-child(2)::before {
	left: 20%;
	background: #1F3A93;
}

#GlobalNav li:nth-child(3)::before {
	left: 40%;
	background: #22313F;
}

#GlobalNav li:nth-child(4)::before {
	left: 60%;
	background: #8e44ad;
}

#GlobalNav li:nth-child(5)::before {
	background: #1E824C;
	left: 80%;
}

#GlobalNav li:nth-child(5):hover {
	background: #ecf0f1;
}

#GlobalNav li:nth-child(3) a {
	font-family: "Audiowide", sans-serif;
	color: #FF0000 !important;
}

#LocalNav {
	width: 30px;
	height: 150px;
	position: fixed;
	top: calc(50vh + 25px);
	z-index: 100;
	transition: all 0.5s ease;
	right: 0;
}

#LocalNav ul {
	margin: 0;
	padding: 0;
}

#LocalNav li {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	position: relative;
}

#LocalNav input[type=radio] {
	display: none;
}

#LocalNav label {
	width: 100%;
	height: 100%;
	display: inline-block;
	cursor: pointer;
	opacity: 0.75;
}

#LocalNav div {
	position: absolute;
	width: 100px;
	right: -100px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background: #34495e;
	opacity: 0.75;
	transition: all 0.5s ease;
	pointer-events: none;
	top: 0;
}

#LocalNav li:hover div {
	right: 30px;
}

#LocalNav li:nth-child(1) label {
	background: #c0392b;
}

#LocalNav li:nth-child(2) label {
	background: #F9690E;
}

#LocalNav li:nth-child(3) label {
	background: #1E824C;
}

#LocalNav li:nth-child(4) label {
	background: #1F3A93;
}

#LocalNav li:nth-child(5) label {
	background: #8e44ad;
}

#LocalNav li:hover label{
    background:black;
}
#LocalNav li input[type=radio]:checked+label{
    background:white;
}



/*
    Frames
*/

#Hero {
	width: 100%;
	height: calc(100vh - 100px);
	margin: 100px 0 0 0;
	transform-style: preserve-3d;
	background-image: url("/images/VEXbg.png");
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
}

#Hero header {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

#Hero h1 {
	font-family: "Audiowide", sans-serif;
	font-size: 1000%;
	margin: 0;
}

#Hero div {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: radial-gradient(black, rgba(0,0,0,0));
}

#VidFrame {
	width: 100%;
	height: calc(100vh - 100px);
	position: relative;
	overflow-y: hidden;
}

#YTDisappear {
	position: absolute;
	width: 50%;
	left: 25%;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
	z-index: 1;
}

#VidFrame div {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: radial-gradient(black, rgba(0, 0, 0, 0.7), rgba(0,0,0,0), rgba(0,0,0,0));
}

#ContFrame {
	padding: 5vh 0;
}

#ContFrame div {
	display: table;
	width: 100%;
	margin-top: 5vh;
}

#ContFrame div div {
	display: table-row;
}

#ContFrame div div div {
	display: table-cell;
	width: 50%;
	padding: 2vh 3vw 0 3vw;
	
	position:relative;
	top:10px;
	opacity:0;
	transition: all 0.5s ease;
}
#ContFrame div div div:nth-child(2){
	transition-delay:0.1s;
}

#MeetFrame {
	padding: 15vh 0;
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: cover;
	background-image: url("/images/IMG_20150322_160628.jpg");
}

#MeetFrame div {
	padding: 5vh 5vw;
	position: relative;
	width: 60vw;
	z-index: 1;
	text-align:right;
	
	left:-80vw;
	transition: all 0.5s ease-out;
}

#MeetFrame div:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 200%;
	height: 100%;
	transform: skewX(-10deg);
	background: #96281B;
	z-index: -1;
}

#AttendFrame {
	padding: 0;
	position: relative;
}

#AttendFrame div {
	position: absolute;
	left: 5vw;
	top: 50%;
	transform: translateY(-50%);
	text-align: left;
	max-width: 55%;
}
#AttendFrame h2{
    width:99%;
    text-align:right;
    position:relative;
    margin:15px 0;
    right:-100%;
    transition: all 0.5s ease-out;
}
#AttendFrame  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 30%;
	position: relative;
	right: -35vw;
}
#AttendFrame  li {
	padding: 2vh 0;
	position: relative;
	transition: all 1s ease;
	right: -200%;
}

#AttendFrame  li:nth-child(odd) {
	color: black;
}

#AttendFrame  li:nth-child(even) {
	color: white;
}

#AttendFrame  li span {
	position: relative;
	z-index: 1;
}

#AttendFrame  li:nth-child(odd)::before {
	background: #bdc3c7;
	z-index: -1;
	transform: skewX(-30deg);
	content: "";
	position: absolute;
	width: 120%;
	height: 100%;
	top: 0;
	display: block;
	left: 0;
}

#AttendFrame  li:nth-child(odd)::after {
	background: #bdc3c7;
	z-index: -1;
	transform: skewX(-30deg);
	content: "";
	position: absolute;
	width: 120%;
	height: 100%;
	top: 0;
	display: block;
	left: 90%;
}

#AttendFrame  li:nth-child(even)::before {
	background: #2c3e50;
	z-index: -1;
	transform: skewX(30deg);
	content: "";
	position: absolute;
	width: 120%;
	height: 100%;
	top: 0;
	display: block;
	left: 0;
}

#AttendFrame  li:nth-child(even)::after {
	background: #2c3e50;
	z-index: -1;
	transform: skewX(30deg);
	content: "";
	position: absolute;
	width: 120%;
	height: 100%;
	top: 0;
	display: block;
	left: 90%;
}

#AttendFrame li:nth-child(2){
    transition-delay:0.1s;
}
#AttendFrame li:nth-child(3){
    transition-delay:0.2s;
}
#AttendFrame li:nth-child(4){
    transition-delay:0.3s;
}
#AttendFrame li:nth-child(5){
    transition-delay:0.4s;
}
#AttendFrame li:nth-child(6){
    transition-delay:0.5s;
}


#InfoFrame {
	background: url('/images/redCircuit.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	padding: 5vh 0;
}

#InfoFrame h1 {
	padding-bottom: 5vh;
}

#InfoFrame div {
	text-align: left;
	width: 65vw;
	padding: 5vw;
	position: relative;
	/*right:-25vw;*/
	z-index:1;
	
	right:-110vw;
	transition: all 0.5s ease-out;
}

#InfoFrame div::before {
	content: '';
	position:absolute;
	top:0; left:0;
	width:100%; height:100%;
	transform:skewX(-10deg);
	background:#96281B;
	z-index:-1;
}
#InfoFrame div::after {
	content: '';
	position:absolute;
	top:0; left:100%;
	width:100%; height:100%;
	transform:skewX(-10deg);
	background:#96281B;
	z-index:-1;
}






/*
 * Mobile Stuff! Woot! Finally!
 * ============================
 */
@media (max-width : 768px) {
    #LocalNav{
        display:none;
    }
    
    #ContFrame div{
        display:block !important;
        width:100% !important;
        margin:0;
    }
    #ContFrame div div div{
        width:90% !important;
        margin-left:auto;
        margin-right:auto;
		opacity:1;
		top:0;
    }
    
    #MeetFrame div{
        width:80%;
        margin-left:auto;
        margin-right:auto;
		text-align:center;
		left:0;
    }
    #MeetFrame div::before{
        transform:none;
        opacity: 0.9;
        width:100%;
    }
    
    #AttendFrame{
        padding: 5vh 0 0 0;
    }
    #AttendFrame div{
        position:static;
        width:90%;
        max-width: none;
        margin-left:auto;
        margin-right:auto;
        left:0; top:0;
        transform:none;
    }
    #AttendFrame h2{
        width:100%;
        text-align:center;
        right:0;
    }
    #AttendFrame ul{
        width:100%;
        right:0;
    }
    #AttendFrame li{
        width:100%;
        right:0;
    }
    #AttendFrame li::before{
        transform:none !important;
        width:100% !important;
    }
    #AttendFrame li::after{
        display:none !important;
    }
    
    #InfoFrame div{
        width:80%;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
		right:0 !important;
    }
    #InfoFrame div::before{
        transform:none;
        opacity: 0.9;
        width:100%;
    }
    #InfoFrame div::after{
        display:none;
    }
}